<div>
  <style>
    .has-error-div {
      border-style: solid;
      border-width: 1px;
      border-color: #a94442;
      padding-left: 10px;
    }

    .label {
      padding-top: 5px;
    }

    .success-tab {
      background-color: #b2dba1 !important;
    }

    .tab-content {
      background-color: #b2dba1
    }
    /*.tab-content {
padding:10px;
border:1px solid #ddd;
border-bottom:0px;
}*/
.nav-tabs-bottom {
border-bottom: 0px;
border-top: 1px solid #ddd;
}
.nav-tabs-bottom > li {
margin-bottom:0;
margin-top:-1px;
}

.nav-tabs-bottom > li > a {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  line-height: 20px !important;
  border: 1px solid transparent !important;
      -moz-border-radius:0px !important;
    -webkit-border-radius:0px !important;
    border-radius:0px !important;

  -moz-border-radius-bottomright: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;

  -moz-border-radius-bottomleft: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.nav-tabs-bottom  > .active > a, .nav-tabs-bottom > .active > a:hover, .nav-tabs-bottom > .active > a:focus {
color: #555555 !important;
cursor: default !important;
background-color: #ffffff !important;
border: 1px solid #ddd !important;
border-top-color: transparent !important;
}
.tab-pane {
    margin-top:0;
    margin-bottom:0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;


    padding: 10px;
}
.red-status{
  color:#a94442 !important;
}
  </style>

  <div ng-show="msg" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="msg=''">&times;</button>
    <strong>{{msg}}</strong>
  </div>

  <div class="alert alert-danger" ng-show="hasError()">
    <strong>Error as occured...</strong>
    <div>{{error}}</div>
  </div>

  <div ng-show="loading" class="text-center">
    <i class="fa fa-spinner fa-spin fa-3x"></i> <span style="font-size:18px;">Loading...</span>
  </div>

  <form name="editForm" style="margin-top:10px" ng-submit="submitForm(editForm)" novalidate>
    <legend class="container-subheader">
      <h2>
        <span ng-if="doc.id">Side Event ID: {{doc.id}}</span>
        <span class="pull-right text-nowrap">Status: <span ng-class="{'red-status':(doc.meta.status!=='request' && doc.meta.status!=='published')}"><span ng-if="doc.meta.status!=='request'">{{doc.meta.status.toUpperCase()}}</span> <span ng-if="doc.meta.status==='request'" style="color:black;">Request Submitted</span> <span ng-if="!doc.meta.status">NOT SAVED</span></span></span>
      </h2>
    </legend>
    <div ng-show="registerAlert" class="col-xs-12 alert alert-danger alert-dismissable" ng-if="resubmitWarning()">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="registerAlert=''">&times;</button>
      WARNING: the changes you have made require you to re-validate and re-submit your request, otherwise it will not be considered for scheduling.
    </div>
    <div ng-if="editForm.$invalid  && editForm.$submitted" class="col-xs-12 alert alert-danger alert-dismissable" >
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="registerAlert=''">&times;</button>
      WARNING: You have critical errors or missing information in your form preventing your side event form being submitted.
      <div ng-repeat="err in editForm.$error.required" ng-if="err.$name!=='editLinkForm'">
          <a ng-click="goToError(errorMap[err.$name].tab,err.$name)" style="cursor:pointer;">{{errorMap[err.$name].label}}</a>

      </div>
      <div ng-if="doc.hostOrgs.length===0">
          <a ng-click="goToError('orgs','hostOrgs')">Host Organizations</a>
      </div>
    </div>
    <div></div>
    <div class="row">

      <div class="col-lg-6   col-xs-12 text-nowrap">

        <div ng-if="showProg">
          <bs-progress-bar id="form-progress"  steps="doc.validTabs"  class="" data-total="5" data-complete-label="   Steps Completed" data-complete="numStepsCompleted()" data-label="Steps Completed" title="Tech Hours Progress" data-toggle="tooltip"></bs-progress-bar>

        </div>
      </div>
      <div class="col-lg-6   hidden-md hidden-sm  hidden-xs text-right text-nowrap" style="padding-top:15px;">


        <button ng-show="!showEdit()" class="btn" type="button"  ng-click="saveDoc()" ng-class="{'btn-danger':(numStepsCompleted()>=5),'btn-default':!(numStepsCompleted()>=5)}">
          <span ng-show="numStepsCompleted()<5">Save Draft</span>
          <span ng-show="numStepsCompleted()>=5">Cancel Request</span>
        </button>
        <button ng-show="!showEdit() && !isTabsValid()" class="btn btn-warning" type="submit">
        Save & Validate Step</button>
        <button ng-click="publishRequestDial()" ng-show="!showEdit() && isTabsValid()" ng-disabled="!isTabsValid()" class="btn btn-success" type="button">
          <span ng-show="numStepsCompleted()<5">Register Request</span><span ng-show="numStepsCompleted()>=5">Edit Request</span></button>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 hidden-lg     text-right text-nowrap" style="padding-bottom:15px;">
        <button ng-show="!showEdit()" class="btn btn-block" type="button"  ng-click="saveDoc()" ng-class="{'btn-danger':(numStepsCompleted()>=5),'btn-default':!(numStepsCompleted()>=5)}">
          <span ng-show="numStepsCompleted()<5">Save Draft</span>
          <span ng-show="numStepsCompleted()>=5">Cancel Request</span>
        </button>
        <button ng-show="!showEdit() && isTabsValid()" class="btn btn-warning btn-block" type="submit">  Save & Validate Step</button>
        <button ng-click="publishRequestDial()" ng-show="!showEdit()" ng-disabled="!isTabsValid()" class="btn btn-success btn-block" type="button">
            <span ng-show="numStepsCompleted()<5">Register Request</span>
            <span ng-show="numStepsCompleted()>=5">Edit Request</span>
        </button>
      </div>
  </div>
    <div class="row">

      <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom:0;">
          <li role="presentation" ng-class="{'active':tab==='general'}" ng-click="showTab('general')"><a ng-class="{'success-tab':(doc.validTabs.general && tab!=='general')}" id="general-tab" href="#general" aria-controls="general" role="tab" data-toggle="tab">General <i class="fa fa-check" ng-show="doc.validTabs.general"></i></a> </li>
          <li role="presentation" ng-class="{'active':tab==='logistics'}" ng-click="showTab('logistics')"><a ng-class="{'success-tab':doc.validTabs.logistics && tab!=='logistics'}" id="logistics-tab" href="#logistics" aria-controls="logistics" role="tab" data-toggle="tab">Logistics <i class="fa fa-check" ng-show="doc.validTabs.logistics"></i></a></li>
          <li role="presentation" ng-class="{'active':tab==='orgs'}" ng-click="showTab('orgs')"><a ng-class="{'success-tab':doc.validTabs.orgs && tab!=='orgs'}" id="orgs-tab" href="#orgs" aria-controls="orgs" role="tab" data-toggle="tab">Host Organizations <i class="fa fa-check" ng-show="doc.validTabs.orgs"></i></a></li>
          <li role="presentation" ng-class="{'active':tab==='contact'}" ng-click="showTab('contact')"><a ng-class="{'success-tab':doc.validTabs.contact && tab!=='contact'}" id="contact-tab" href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact Persons <i class="fa fa-check" ng-show="doc.validTabs.contact"></i></a></li>
          <li ng-if="doc.id && doc._id" role="presentation" ng-class="{'active':tab==='documents'}" ng-click="showTab('documents')"><a ng-class="{'success-tab':doc.publications.length && tab!=='documents'}" id="documents-tab" href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Publications <i class="fa fa-check" ng-show="doc.publications.length"></i></a></li>
          <li ng-if="doc.id && doc._id" role="presentation" ng-class="{'active':tab==='links'}" ng-click="showTab('links')"><a ng-class="{'success-tab':doc.links.length && tab!=='links'}" id="links-tab" href="#links" aria-controls="links" role="tab" data-toggle="tab">Links <i class="fa fa-check" ng-show="doc.links.length"></i></a></li>
          <li ng-if="doc.id && doc._id" role="presentation" ng-class="{'active':tab==='images'}" ng-click="showTab('images')"><a ng-class="{'success-tab':doc.images.length && tab!=='images'}" id="images-tab" href="#images" aria-controls="images" role="tab" data-toggle="tab">Images <i class="fa fa-check" ng-show="doc.images.length"></i></a></li>
          <li ng-if="doc.id && doc._id" role="presentation" ng-class="{'active':tab==='videos'}" ng-click="showTab('videos')"><a ng-class="{'success-tab':doc.videos.length && tab!=='videos'}" id="videos-tab" href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos <i class="fa fa-check" ng-show="doc.videos.length"></i></a></li>
        </ul>
      </div>
    </div>


      <div fade-in-tab id="general" class="tab-pane   active text-left" ng-show="tab==='general'">

        <div ng-show="registerAlert" class="col-xs-12 alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="registerAlert=''">&times;</button>
            <strong>Please note that by registering your request for a side-event you are not registering for entrance into the meetings.
      For meeting registration information please see: <a href="https://www.cbd.int/meetings/">https://www.cbd.int/meetings/<a/>.  It is also required that any speakers or guests attending your side-event will need to be registered for the meetings through your delegation. </strong>
        </div>

        <div class="container" style="width:100%;">
            <div class="row">

                <div class="col-xs-12 col-lg-8">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <div name="title" style="padding-bottom:10px;" ng-class="{'has-error': editForm.title.$invalid && editForm.$submitted}">
                                <label>Title</label>
                                <input id="editForm.title" class="form-control" name="title" ng-model="doc.title" locales="doc.meta.locales" required>
                                <p ng-show="editForm.title.$invalid && editForm.title.$touched" class="help-block red-status">Title is required.</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" style="padding-bottom:10px;" >
                            <div id="editForm.subjects" ng-class="{'has-error-div': editForm.subjects.$invalid && editForm.$submitted,'has-error': editForm.subjects.$invalid && editForm.$submitted}" class="km-control-group" required name="subjects" caption="Related CBD Subject area(s)">
                                <label>Subject(s) </label>
                                <br>
                                <style>
                                  .group-select-row{
                                    font-weight: bold;
                                    font-size: 16px;
                                  };
                                  .child-select-row{
                                    margin-left: 25px;
                                  };
                                  .ui-select-choices-row.ng-scope.active>a {
                                          color: none !important;
                                          text-decoration: none;
                                          outline: 0;
                                          background-color: none !important;
                                      }
                                </style>
                                <!-- <div km-select required multiple name="subjects" ng-model="doc.subjects" items="options.subjects" binding-type="term[]" touched="editForm.subjects.$touched"></div> -->
                                <ui-select multiple  first-item-active="false" required id="editForm.subjects"  name="subjects"  ng-model="doc.subjects" close-on-select="false"  append-to-body="true" title="Choose subjects" ng-click="editForm.subjects.$touched=true;">
                                    <ui-select-match  placeholder="Select a subject by typeing the title or browse the drop down" >{{$item.name}}</ui-select-match>
                                    <ui-select-choices first-item-active="false" style="width:100%;" position="down" repeat="subject.identifier as subject in options.subjects | propsFilter: {name: $select.search}">
                                      <!--  -->
                                      <div ng-class="{'bg-eee':!!($index%2),'bg-white':!!!($index%2)}" style="padding: 0 0 0 10px; overflow:auto;">
                                          <hr style="margin: 0 0 0 0;">

                                              <span class="text-nowrap">

                                                  <!-- <span ng-if="org._id.length>2" style="padding:0px 0px 0px 1px; vertical-align:middle;"> [{{org.acronym}}] </span> -->
                                                  <span  style="line-height:40px;"> <span ng-class="{'group-select-row':subject.group,'child-select-row':!subject.group}"><span ng-if="!subject.group">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{subject.name}}</span></span>
                                                  <!-- <span ng-bind-html="org.title| highlight: $select.search | rawHtml"></span> -->
                                                </span>

                                     </div>
                                    </ui-select-choices>
                                  </ui-select>
                                <p ng-show="editForm.subjects.$error.required && (editForm.subjects.$touched|| editForm.$submitted)" class="help-block error red-status">At least one subject area is required, if your subject is not listed, choose the closest related subject and indicate in the message below your request for a new subject in the list.</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-4">
                    <div class="km-control-group nowrap" name="logo" ng-required="!form.logo.$valid" caption="Event Icon & Cover Image (Not Org. Logo)" style="padding-bottom:10px;">
                        <label>Event Icon & Cover Image (Not Org. Logo)</label>
                        <button type="button" class="btn btn-default btn-sm" ng-click="toggleIcon()" style="margin-bottom:10px;">Black and White Generic Only</button>
                        <scbd-file-upload ng-modal="doc.logo" temp-file="doc.tempFile" error="error" ng-attr-schema="{{schema}}" ng-attr-doc-id="{{_id}}" is-image></scbd-file-upload>

                    </div>
                </div>

                <div class="col-xs-12" style="padding-bottom:10px;">
                    <div name="description" ng-class="{'has-error-div': editForm.description.$invalid && editForm.$submitted,'has-error': editForm.description.$invalid && editForm.$submitted}" ng-click="editForm.description.$touched=true;">
                        <label>Description </label>
                        <!-- <text-angular name="description" id="editForm.description" ng-model="doc.description" cols="30" rows="5" required placeholder="Briefly describe your side event."></text-angular> -->
						            <textarea name="description" id="editForm.description" ckeditor="editorOptions" ng-model="doc.description" required placeholder="Briefly describe your side event." ></textarea>
                        <p ng-show="editForm.description.$invalid && (editForm.description.$touched || editForm.$submitted) " class="help-block error red-status">Description is required.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>


			<div fade-in-tab id="logistics"  class="tab-pane   active text-left" ng-show="tab==='logistics'" >
        <legend class="container-subheader">
          <h2>Conference and Associated Meetings </h2>
        </legend>
            <div class="row" >
              <div class="col-xs-12 col-lg-4">
                <div ng-class="{'has-error': editForm.conference.$invalid  && editForm.$submitted}">
                  <label>Conference</label>
                  <select id="editForm.conference" class="form-control" ng-model="doc.conference" name="conference" required>
                    <option ng-repeat="docObj in options.conferences | futureConferences:doc.conference" value="{{docObj._id}}" ng-if="docObj._id" ng-selected="docObj.selected">{{docObj.Title.en}} </option>
                  </select>
                  <p ng-show="editForm.conference.$invalid " class="help-block error red-status">A conference is required.</p>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4">
                <div>
                  <label>Associated Meeting(s)</label>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div ng-repeat="meeting in options.conferenceObj.meetings" ng-click="checkMeeting($index)" class="pointer"><i class="fa fa-check-square-o" ng-show="options.conferenceObj.meetings[$index].selected"></i><i class="fa fa-square-o" ng-show="!options.conferenceObj.meetings[$index].selected"></i> {{meeting.EVT_UN_CD}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4">
                <div name="expNumPart" ng-class="{'has-error': (editForm.expNumPart.$invalid && editForm.$submitted) || editForm.expNumPart.$error.number}">
                  <label>Expected Number of Participants</label>
                  <input id="editForm.expNumPart" class="form-control" type="number" name="expNumPart" ng-model="doc.expNumPart" placeholder=" " required/>
                  <p ng-show="editForm.expNumPart.$invalid && (editForm.expNumPart.$touched || editForm.$submitted)" class="help-block error red-status">Number of participants is required.</p>
                  <p ng-show="editForm.expNumPart.$error.number  && (editForm.expNumPart.$touched || editForm.$submitted)" class="help-block error red-status"> Not valid number!</p>
                </div>
              </div>

            </div>

            <legend class="container-subheader">
              <h2>Preferred Date and Time {{prefDate}}</h2>
            </legend>
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12" style="margin-bottom:15px;">
                <div id="ssdf" ng-class="{'has-error': (editForm.prefDateOne.$invalid && editForm.$submitted)|| (editForm.prefTimeOne.$invalid && editForm.$submitted) }">
                  <label>First Choice</label>
                  <select id="editForm.prefDateOne" class="form-control" name="prefDateOne" ng-model="doc.prefDate.one" ng-disabled="!options.dates" required>
                    <option value="" selected>Select a Date</option>
                    <option value="{{date}}" ng-repeat="date in options.dates">{{date}}</option>
                  </select>
                  <p ng-show="editForm.prefDateOne.$invalid && (editForm.prefDateOne.$touched || editForm.$submitted) " class="help-block error red-status">First Choice Date required.</p>
                  <select ng-show="doc.prefDate.one" id="editForm.prefTimeOne" class="form-control" name="prefTimeOne" ng-model="doc.prefDateTime.one" ng-disabled="!options.dates" required>
                    <option value="" selected>Select a Time</option>
                    <option value="lunch">Lunch: 13:15 - 14:45</option>
                    <option value="evening">Evening: 18:15 - 19:45</option>
                  </select>
                  <p ng-show="editForm.prefTimeOne.$error.required && doc.prefDate.one && (editForm.prefTimeOne.$touched || editForm.$submitted)" class="help-block error red-status">First choice time required.</p>
                </div>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12" style="margin-bottom:15px;">
                <div ng-class="{'has-error': (editForm.prefDateTwo.$invalid && editForm.$submitted) || (editForm.prefTimeTwo.$invalid && editForm.$submitted )}">
                  <label>Second Choice</label>
                  <select  id="editForm.prefDateTwo" class="form-control" name="prefDateTwo" ng-model="doc.prefDate.two" ng-disabled="!options.dates" required>
                    <option value="" selected>Select a Date</option>
                    <option value="{{date}}" ng-repeat="date in options.dates">{{date}}</option>
                  </select>
                  <p ng-show="editForm.prefDateTwo.$invalid && (editForm.prefDateTwo.$touched || editForm.$submitted) " class="help-block error red-status">Second choice date required.</p>
                  <select ng-show="doc.prefDate.two" id="editForm.prefTimeTwo" class="form-control" name="prefTimeTwo" ng-model="doc.prefDateTime.two" ng-disabled="!options.dates" required>
                    <option value="" selected>Select a Time</option>
                    <option value="lunch">Lunch: 13:15 - 14:45</option>
                    <option value="evening">Evening: 18:15 - 19:45</option>
                  </select>
                  <p ng-show="editForm.prefTimeTwo.$error.required && doc.prefDate.two && (editForm.prefTimeTwo.$touched || editForm.$submitted)" class="help-block error red-status">Second choice time required.</p>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12" style="margin-bottom:15px;">
                <div ng-class="{'has-error': (editForm.prefDateThree.$invalid && editForm.$submitted) || (editForm.prefTimeThree.$invalid && editForm.$submitted)}" >
                  <label>Third Choice</label>
                  <select id="editForm.prefDateThree" class="form-control" name="prefDateThree" ng-model="doc.prefDate.three" ng-disabled="!options.dates" required>
                    <option value="" selected>Select a Date</option>
                    <option value="{{date}}" ng-repeat="date in options.dates">{{date}}</option>
                  </select>
                  <p ng-show="editForm.prefDateThree.$invalid && (editForm.prefDateThree.$touched || editForm.$submitted)" class="help-block error red-status">Third choice date required.</p>
                  <select ng-show="doc.prefDate.three" id="editForm.prefTimeThree" class="form-control" name="prefTimeThree" ng-model="doc.prefDateTime.three" ng-disabled="!options.dates" required>
                    <option value="" selected>Select a Time</option>
                    <option value="lunch">Lunch: 13:15 - 14:45</option>
                    <option value="evening">Evening: 18:15 - 19:45</option>
                  </select>
                  <p ng-show="editForm.prefTimeThree.$error.required && doc.prefDate.three && (editForm.prefTimeThree.$touched || editForm.$submitted)" class="help-block error red-status">Third choice time required.</p>
                </div>
              </div>
            </div>

            <legend class="container-subheader">
              <h2 >Requirements (optional)</h2>
            </legend>
            <div class="row">

              <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                <span ng-click="doc.requirements.lcd=!doc.requirements.lcd;"><i class="fa fa-check-square-o" ng-show="doc.requirements.lcd"></i><i class="fa fa-square-o" ng-show="!doc.requirements.lcd"></i> Internet Connection </span>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                <span ng-click="doc.requirements.pc=!doc.requirements.pc;"><i class="fa fa-check-square-o" ng-show="doc.requirements.pc"></i><i class="fa fa-square-o" ng-show="!doc.requirements.pc"></i> PC</span>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                <span ng-click="doc.requirements.overhead=!doc.requirements.overhead;"><i class="fa fa-check-square-o" ng-show="doc.requirements.overhead"></i><i class="fa fa-square-o" ng-show="!doc.requirements.overhead"></i> LCD Projector</span>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                <span ng-click="doc.requirements.sound=!doc.requirements.sound;"><i class="fa fa-check-square-o" ng-show="doc.requirements.sound"></i><i class="fa fa-square-o" ng-show="!doc.requirements.sound"></i> Sound System</span>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                <span ng-click="doc.requirements.interpretation=!doc.requirements.interpretation;"><i class="fa fa-check-square-o" ng-show="doc.requirements.interpretation"></i><i class="fa fa-square-o" ng-show="!doc.requirements.interpretation"></i> Interpretation  <span style="font-size:11px;">(at your own expense)</span></span>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                  <span ng-click="doc.requirements.catering=!doc.requirements.catering;"><i class="fa fa-check-square-o" ng-show="doc.requirements.catering"></i><i class="fa fa-square-o" ng-show="!doc.requirements.catering"></i> Catering </span><span style="font-size:11px;">(at your own expense)</span>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                  <span ng-click="doc.requirements.skype=!doc.requirements.skype;"><i class="fa fa-check-square-o" ng-show="doc.requirements.skype"></i><i class="fa fa-square-o" ng-show="!doc.requirements.skype"></i><span > Skype </span>
              </div>
            </div>

            <div  class="row" style="margin-bottom:10px;">
              <div class="col-xs-12">
                <br>
                <div>Other
                  <span style="font-size:10px;">(Please indicate any other requirements you may need)</span>
                </div>
                <input class="form-control" type="text" ng-model="doc.requirements.other"/>
              </div>
            </div>
      </div>


              <div fade-in-tab id="orgs" class="tab-pane   active text-left" ng-show="tab==='orgs'">


                  <div id="hostOrg-error" ng-class="{'has-error': (!doc.hostOrgs.length && editForm.$submitted),'has-error-div': (!doc.hostOrgs.length && editForm.$submitted)}" ng-click="orgsFocused=true;">
                    <legend class="container-subheader">
                      <h2>Host Organization(s)</h2>
                    </legend>

                    <p id="hostOrgMsg" ng-show="!doc.hostOrgs.length && (editForm.$submitted || orgsFocused)" style="color:#a94442">At least one organization is required.</p>

                    <scbd-select-list ng-modal="doc.hostOrgs" show-org-form="showOrgForm" doc="doc"></scbd-select-list>


                        <!-- <div name="hostOrgs" caption="" style="margin-right:20px;"> -->


                        <!-- </div> -->
                      </div>


              </div>

        			<div  fade-in-tab id="contact"  class="tab-pane   active text-left" ng-show="tab==='contact'">
                      <legend class="container-subheader" >
                        <h2>Contact Person </h2>
                      </legend>

                      <div ng-show="registerAlert" class="col-xs-12 alert alert-info alert-dismissable">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="registerAlert=''">&times;</button>
                          <strong>This should be the main contact for Conference Services to communicate with on site during the meetings to address any last minute concerns that may arise.   </strong>
                      </div>





                          <div class="row" style="margin-bottom:15px;">
                            <div class="col-xs-12">
                              <div   class="text-nowrap">
                                                <span ng-click="preFill=!preFill;initProfile(preFill)"><i class="fa fa-check-square-o" ng-show="preFill"></i><i class="fa fa-square-o" ng-show="!preFill"></i> I will be the contact.</span>
                              </div>
                              <div><hr></div>
                            </div>
                          <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                            <div   name="personalTitle" caption="Personal Title">
                              <label>Salutation</label>
                              <input class="form-control" type="text" ng-model="doc.contact.personalTitle" placeholder=" "/>
                            </div>
                          </div>

                          <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                            <div   ng-class="{'has-error': editForm.firstName.$invalid && editForm.$submitted}">
                              <label>First Name</label>
                              <input id="editForm.firstName" class="form-control" type="text" name="firstName" ng-model="doc.contact.firstName" placeholder=" "/ required>
                              <p ng-show="editForm.firstName.$invalid && (editForm.firstName.$touched || editForm.$submitted)" class="help-block error red-status">First name is required.</p>
                            </div>
                          </div>

                          <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                            <div   ng-class="{'has-error': editForm.lastName.$invalid && editForm.$submitted}">
                              <label>Last Name</label>
                              <input id="editForm.lastName" class="form-control" name="lastName" type="text" ng-model="doc.contact.lastName" placeholder=" "required/>
                              <p ng-show="editForm.lastName.$invalid && (editForm.lastName.$touched || editForm.$submitted)" class="help-block error red-status">Last name is required.</p>
                            </div>
                          </div>
                        </div>

                        <div class="row" style="margin-bottom:15px;">

                          <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                            <div name="jobTitla" caption="Job Title">
                              <label>Job Title</label>
                              <input class="form-control" type="text" ng-model="doc.contact.jobTitle" placeholder=" " />
                            </div>
                          </div>

                          <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                            <div ng-class="{'has-error': editForm.phone.$invalid && editForm.$submitted}">
                              <label>Phone Number</label>
                              <input id="editForm.phone" class="form-control" name="phone" type="text" ng-pattern="patterns.phone" ng-model="doc.contact.phone" placeholder=" " required/>
                              <div ng-show="(editForm.$submitted || editForm.phone.$touched)">
                                <p class="help-block error red-status" ng-show="editForm.phone.$error.required">This field is mandatory</p>
                                <p class="help-block error red-status" ng-show="editForm.phone.$error.pattern">
                                    Please use the following format: + (country code) (city code) (telephone number) (extension, if necessary);<br>Example: <b>+1 514 288-2220 ext 221</b> (where 1 = North America, 514 = Montreal, 288-2220 = CBD Secretariat number, ext 221 = direct extension to the switchboard).
                                </p>
                            </div>
                            </div>
                          </div>

                          <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12">
                            <div ng-class="{'has-error': editForm.mobile.$error.pattern && editForm.$submitted}">
                              <label>Mobile</label>
                              <input id="editForm.mobile" class="form-control" name="mobile" type="text" ng-pattern="patterns.phone" ng-model="doc.contact.mobile" placeholder=" " />
                              <div ng-show="(editForm.$submitted || editForm.mobile.$touched)">
                                <p class="help-block error red-status" ng-show="editForm.mobile.$error.pattern">
                                    Please use the following format: + (country code) (city code) (telephone number) (extension, if necessary);<br>Example: <b>+1 514 288-2220 ext 221</b> (where 1 = North America, 514 = Montreal, 288-2220 = CBD Secretariat number, ext 221 = direct extension to the switchboard).
                                </p>
                            </div>
                            </div>
                          </div>

                        </div>

                        <div  class="row"  style="margin-bottom:15px;">
                          <div class="col-xs-12">

                              <div google-address name="gAddress" id="gAddress"   form="editForm" ng-model="document.gAddress" document="doc"  ></div>
                          </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-xs-12">
                              <div >
                                <label for="address">Address</label>
                                <textarea rows="5" class="form-control" id="address" ng-model="doc.contact.address"></textarea>
                              </div>
                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-12 col-xs-12">
                              <div class="form-group">
                                <div   ng-class="{'has-error': editForm.city.$invalid && editForm.$submitted}">
                                  <label>City</label>
                                <input id="editForm.city" type="text" name="city" class="form-control"  ng-model="doc.contact.city" required/>
                                <p ng-show="editForm.city.$invalid && (editForm.city.$touched || editForm.$submitted)" class="help-block error red-status">City is required.</p>
                              </div>
                            </div>
                          </div>

                          <div class="col-xl-3 col-lg-3 col-md-12 col-xs-12">
                            <div class="form-group">
                              <label for="state">State / Province / Region</label>
                              <input type="text" class="form-control" id="state" ng-model="doc.contact.state" />
                            </div>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-12 col-xs-12">
                            <div class="form-group">
                              <label for="zip">Postal / Zip code</label>
                              <input type="text" class="form-control" id="zip" ng-model="doc.contact.zip" />
                            </div>
                          </div>

                          <div class="col-xl-3 col-lg-3 col-md-12 col-xs-12">
                           <div ng-class="{'has-error': editForm.country.$invalid && editForm.$submitted,'has-error-div': editForm.country.$invalid && editForm.$submitted}" >
                              <div>
                                <label>Country</label>
                              </div>


                            <ui-select  required id="editForm.country"  name="country"  ng-model="doc.contact.country" close-on-select="true"  append-to-body="true" title="Choose a Country" ng-click="editForm.country.$touched=true;">
                                <ui-select-match  placeholder="Select a Country by typing name" ><span style="vertical-align:bottom;"><i  class="flag-icon flag-icon-{{$select.selected._id}}" style="width:25px;height:15px;"></i> {{$select.selected.title}} </span></ui-select-match>
                                <ui-select-choices style="width:100%;" position="down" repeat="country._id as country in options.countries | propsFilter: {title: $select.search, acronym: $select.search}">
                                  <!--  -->
                                  <div ng-class="{'bg-eee':!!($index%2),'bg-white':!!!($index%2)}" style="padding: 0 0 0 10px; overflow:auto;">
                                      <hr style="margin: 0 0 0 0;">

                                          <span class="text-nowrap">
                                              <span  >
                                                <i  class="flag-icon flag-icon-{{country._id}}" style="width:30px;height:20px;margin-bottom:5px;"></i>
                                              </span>
                                              <!-- <span ng-if="org._id.length>2" style="padding:0px 0px 0px 1px; vertical-align:middle;"> [{{org.acronym}}] </span> -->
                                              <span  style="padding:0px 0px 0px 1px; vertical-align:middle;line-height:40px;"> {{country.title }} <span ng-if="country._id!==' '">[{{country._id}}]</span></span>
                                              <!-- <span ng-bind-html="org.title| highlight: $select.search | rawHtml"></span> -->
                                            </span>

                                 </div>
                                </ui-select-choices>
                              </ui-select>
                              <p ng-show="editForm.country.$invalid && (editForm.country.$touched || editForm.$submitted)" class="help-block error red-status">Country is required.</p>
                            </div>
                          </div>
                        </div>

                    <div class="row">

                      <div class="col-xs-12">
                        <div ng-class="{'has-error': editForm.emaill.$invalid && editForm.emaill.$submitted,'has-div': editForm.emaill.$invalid && editForm.emaill.$submitted}">
                          <label>Email</label>
                          <input type="email" id="editForm.emaill" class="form-control" name="emaill" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-model="doc.contact.email" placeholder=" " required/>

                          <div ng-show="(editForm.$submitted || editForm.emaill.$touched)">
                              <p class="help-block error red-status" ng-show="editForm.emaill.$error.required">This field is mandatory</p>
                              <p class="help-block error red-status" ng-show="editForm.emaill.$error.pattern || editForm.emaill.$error.email">This is not a valid email</p>

                          </div>
                        </div>
                      </div>



                    </div>



<div style="width:100%;">
  <legend class="container-subheader" style="margin-top:15px;">
    <h2>Responsible Person(s) </h2>
  </legend>
    </div>
    <div class="row">
                  <div class="col-xs-12">
                    <div class="panel panel-default">

                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Responsibility</th>
                              <th>Same As</th>
                              <th>Salutation</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Email</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-nowrap">Prinicipal for Side Event
                                <!-- <i class="fa fa-info-circle" aria-hidden="true"></i> -->
                              </td>
                              <td>
                                <select ng-model="doc.responsible.sameAs" ng-change="sameAs(doc.responsible.sameAs,'responsible')">
                                  <option value="" selected>Select a Person</option>
                                  <option value="contact">Contact</option>
                                  <option value="me">Me</option>
                                </select>
                              </td>
                              <td>
                                <div ng-class="{'has-error': editForm.responsiblePersonalTitle.$invalid && editForm.$submitted}">

                                  <input id="editForm.responsiblePersonalTitle" class="form-control" type="text" name="responsiblePersonalTitle" ng-model="doc.responsible.personalTitle" />
                                  <p ng-show="editForm.responsiblePersonalTitle.$invalid " class="help-block error red-status">Salutation is required.</p>
                                </div>
                              </td>
                              <td>
                                <div ng-class="{'has-error': editForm.responsibleFirstName.$invalid && editForm.$submitted}">

                                  <input id="editForm.responsibleFirstName" class="form-control" type="text" name="responsibleFirstName" ng-model="doc.responsible.firstName" />
                                  <p ng-show="editForm.responsibleFirstName.$invalid && editForm.$submitted" class="help-block error red-status">First name is required.</p>
                                </div>
                              </td>
                              <td>
                                <div ng-class="{'has-error': editForm.responsibleLastName.$invalid && editForm.$submitted}">

                                  <input id="editForm.responsibleLastName" class="form-control" type="text" name="responsibleLastName" ng-model="doc.responsible.lastName" required/>
                                  <p ng-show="editForm.responsibleLastName.$invalid && (editForm.$submitted || editForm.responsibleLastName.$touched)" class="help-block error red-status">Last name is required.</p>
                                </div>
                              </td>
                              <td>
                                <div ng-class="{'has-error': editForm.responsibleEmail.$invalid && editForm.$submitted}">

                                  <input id="editForm.responsibleEmail" class="form-control" name="responsibleEmail" ng-model="doc.responsible.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder=" " required/>

                                  <div ng-show="(editForm.$submitted || editForm.responsibleEmail.$touched)">
                                      <p class="help-block error red-status" ng-show="editForm.responsibleEmail.$error.required">This field is mandatory</p>
                                      <p class="help-block error red-status" ng-show="editForm.responsibleEmail.$error.pattern || editForm.responsibleEmail.$error.email">This is not a valid email</p>

                                  </div>
                                </div>
                              </td>
                            </tr>

                            <tr ng-repeat="org in doc.hostOrgs" ng-if="isOrgPublishable(org) || isOrgParty(org)" >

                              <td class="text-nowrap">


                                  <img  ng-if="org.length>2" ng-src="{{getOrgImgSource(org);}}" style="max-hight:38px;max-width:38px;" />


                                <i ng-if="org.length===2" class="flag-icon flag-icon-{{org}}" ></i>

                                {{getOrgName(org)}}
                                <!-- <i class="fa fa-info-circle" aria-hidden="true"></i> -->
                              </td>
                              <td>
                                <select id="res-org" ng-model="doc.responsibleOrgs[$index].sameAs" ng-change="sameAs(doc.responsibleOrgs[$index].sameAs,$index)" ng-disabled="allSameAsOptionsInUse() || document.getElementById('res-org').length===1">
                                  <option value="" selected>Select a Person</option>
                                  <option value="contact" ng-if="!isContactUsedInSameAs($index)">Contact</option>
                                  <option value="principal" ng-if="(!isPrincipalUsedInSameAs($index) && (doc.responsible && doc.responsible.email)) || doc.responsibleOrgs[$index].sameAs==='principal'">Side Event Principal</option>
                                  <option value="me" ng-if="!isMeUsedInSameAs($index)">Me</option>
                                </select>

                                <input type="hidden" ng-model="doc.responsibleOrgs[$index].orgId" value="org">
                              </td>
                              <td>

                                <div ng-class="{'has-error': editForm['personalTitle_'+$index].$invalid && editForm.$submitted}">

                                  <input id="personalTitle_{{$index}}" class="form-control" type="text" name="personalTitle_{{$index}}" ng-model="doc.responsibleOrgs[$index].personalTitle" />
                                  <p ng-show="editForm['personalTitle_'+$index].$invalid && editForm.$submitted" class="help-block error red-status">Salutation is required.</p>
                                </div>
                              </td>
                              <td>
                                <div ng-class="{'has-error': editForm['firstName_'+$index].$invalid && editForm.$submitted}">

                                  <input id="firstName_{{$index}}" class="form-control" type="text" name="firstName_{{$index}}" ng-model="doc.responsibleOrgs[$index].firstName" />
                                  <p ng-show="editForm['firstName_'+$index].$invalid && editForm.$submitted" class="help-block error red-status">First name is required.</p>
                                </div>
                              </td>
                              <td>
                                <div ng-class="{'has-error': editForm['lastName_'+$index].$invalid && editForm.$submitted}">

                                  <input id="lastName_{{$index}}" class="form-control" type="text" name="lastName_{{$index}}" ng-model="doc.responsibleOrgs[$index].lastName" required/>
                                  <p ng-show="editForm['lastName_'+$index].$invalid && editForm.$submitted" class="help-block error red-status">Last name is required.</p>
                                </div>
                              </td>
                              <td>
                                <div ng-class="{'has-error': editForm['email_'+$index].$invalid && editForm.$submitted}">

                                  <input type="email" id="email_{{$index}}" class="form-control" name="email_{{$index}}" ng-model="doc.responsibleOrgs[$index].email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"  placeholder=" " required/>

                                  <div ng-show="(editForm.$submitted || editForm['email_'+$index].$touched)">
                                      <p class="help-block error red-status" ng-show="editForm['email_'+$index].$error.duplicate">Error:  the contact person can only be associated or linked to one organization.</p>
                                      <p class="help-block error red-status" ng-show="editForm['email_'+$index].$error.required">This field is mandatory</p>
                                      <p class="help-block error red-status" ng-show="editForm['email_'+$index].$error.pattern || editForm['email_'+$index].$error.email">This is not a valid email</p>
                                  </div>
                                </div>
                              </td>

                            </tr>

                        </table>
                      </div>
                    </div>
                  </div>
</div>
              </div>



              <div fade-in-tab id="documents"  class="tab-pane   active text-left" ng-show="tab==='documents'">
                <div>
                  <link-list ng-show="!showEdit()" fa-class="fa-book" index="editIndex" name="publications" document="doc" links="doc.publications" save="saveDoc()"></link-list>
                </div>
                <div class="text-left">
                  <edit-link ng-show="showEdit()" on-error="onError(res)"  index="editIndex" schema="inde-side-events" name="publication" document="doc" links="doc.publications" save="saveDoc()"></edit-link>
                </div>
              </div>
              <div  fade-in-tab  id="links" class="tab-pane    active text-left" ng-show="tab==='links'">
                <div>
                  <link-list ng-show="!showEdit()" fa-class="fa-link" index="editIndex" name="links" document="doc" links="doc.links" save="saveDoc()"></link-list>
                </div>
                <div class="text-left">
                  <edit-link ng-show="showEdit()" on-error="onError(res)"  index="editIndex" schema="inde-side-events" name="links" document="doc" links="doc.links" save="saveDoc()"></edit-link>
                </div>
              </div>
              <div  fade-in-tab  id="images" class="tab-pane    active text-left" ng-show="tab==='images'">
                <div>
                  <link-list ng-show="!showEdit()" fa-class="fa-image" index="editIndex" name="images" document="doc" links="doc.images" save="saveDoc()"></link-list>
                </div>
                <div class="text-left">
                  <edit-link ng-show="showEdit()" on-error="onError(res)"  index="editIndex" schema="inde-side-events" name="images" document="doc" links="doc.images" save="saveDoc()"></edit-link>
                </div>
              </div>
              <div fade-in-tab  id="videos" class="tab-pane    active text-left" ng-show="tab==='videos'">
                <div>
                  <link-list ng-show="!showEdit()" fa-class="fa-video-camera" index="editIndex" name="videos" document="doc" links="doc.videos" save="saveDoc()"></link-list>
                </div>
                <div class="text-left">
                  <edit-link ng-show="showEdit()" on-error="onError(res)" index="editIndex" schema="inde-side-events" name="videos" document="doc" links="doc.videos" save="saveDoc()"></edit-link>
                </div>
              </div>

              <div class="row">

                <div class="col-xs-12" style="margin-top:0;">
                  <ul class="nav  nav-tabs nav-tabs-bottom" role="tablist" style="margin-top:0;">
                    <li role="presentation" ng-class="{'active':tab==='general'}" ng-click="showTab('general')"><a ng-class="{'success-tab':(doc.validTabs.general && tab!=='general')}" id="general-tab" href="#general" aria-controls="general" role="tab" data-toggle="tab">General <i class="fa fa-check" ng-show="doc.validTabs.general"></i></a> </li>
                    <li role="presentation" ng-class="{'active':tab==='logistics'}" ng-click="showTab('logistics')"><a ng-class="{'success-tab':doc.validTabs.logistics && tab!=='logistics'}" id="logistics-tab" href="#logistics" aria-controls="logistics" role="tab" data-toggle="tab">Logistics <i class="fa fa-check" ng-show="doc.validTabs.logistics"></i></a></li>
                    <li role="presentation" ng-class="{'active':tab==='orgs'}" ng-click="showTab('orgs')"><a ng-class="{'success-tab':doc.validTabs.orgs && tab!=='orgs'}" id="orgs-tab" href="#orgs" aria-controls="orgs" role="tab" data-toggle="tab">Host Organizations <i class="fa fa-check" ng-show="doc.validTabs.orgs"></i></a></li>
                    <li role="presentation" ng-class="{'active':tab==='contact'}" ng-click="showTab('contact')"><a ng-class="{'success-tab':doc.validTabs.contact && tab!=='contact'}" id="contact-tab" href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact Persons <i class="fa fa-check" ng-show="doc.validTabs.contact"></i></a></li>
                    <li ng-if="doc.id && doc._id" role="presentation" ng-class="{'active':tab==='documents'}" ng-click="showTab('documents')"><a ng-class="{'success-tab':doc.publications.length && tab!=='documents'}" id="documents-tab" href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Publications <i class="fa fa-check" ng-show="doc.publications.length"></i></a></li>
                    <li ng-if="doc.id && doc._id" role="presentation" ng-class="{'active':tab==='links'}" ng-click="showTab('links')"><a ng-class="{'success-tab':doc.links.length && tab!=='links'}" id="links-tab" href="#links" aria-controls="links" role="tab" data-toggle="tab">Links <i class="fa fa-check" ng-show="doc.links.length"></i></a></li>
                    <li ng-if="doc.id && doc._id" role="presentation" ng-class="{'active':tab==='images'}" ng-click="showTab('images')"><a ng-class="{'success-tab':doc.images.length && tab!=='images'}" id="images-tab" href="#images" aria-controls="images" role="tab" data-toggle="tab">Images <i class="fa fa-check" ng-show="doc.images.length"></i></a></li>
                    <li ng-if="doc.id && doc._id" role="presentation" ng-class="{'active':tab==='videos'}" ng-click="showTab('videos')"><a ng-class="{'success-tab':doc.videos.length && tab!=='videos'}" id="videos-tab" href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos <i class="fa fa-check" ng-show="doc.videos.length"></i></a></li>
                  </ul>
                </div>
              </div>

              <div class="row" style="padding-top:20px;">

                <div class="col-lg-6   col-xs-12 text-nowrap">

                  <div ng-if="showProg">
                    <bs-progress-bar id="form-progress"  steps="doc.validTabs"  class="" data-total="5" data-complete-label="   Steps Completed" data-complete="numStepsCompleted()" data-label="Step Side Event Request Progress" title="Tech Hours Progress" data-toggle="tooltip"></bs-progress-bar>

                  </div>
                </div>
                <div class="col-lg-6   hidden-md hidden-sm  hidden-xs text-right text-nowrap" style="padding-top:15px;">
                  <button ng-show="!showEdit()" class="btn" type="button"  ng-click="saveDoc()" ng-class="{'btn-danger':(numStepsCompleted()>=5),'btn-default':!(numStepsCompleted()>=5)}">
                    <span ng-show="numStepsCompleted()<5">Save Draft</span>
                    <span ng-show="numStepsCompleted()>=5">Cancel Request</span>
                  </button>
                  <button ng-show="!showEdit() && !isTabsValid()" class="btn btn-warning" type="submit">
                  Save & Validate Step</button>
                  <button ng-click="publishRequestDial()" ng-show="!showEdit() &&  isTabsValid()" ng-disabled="!isTabsValid()" class="btn btn-success" type="button"><span ng-show="numStepsCompleted()<5">Register Request</span><span ng-show="numStepsCompleted()>=5">Edit Request</span></button>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 hidden-lg     text-right text-nowrap" style="padding-bottom:15px;">

                    <button ng-show="!showEdit()" class="btn btn-block" type="button"  ng-click="saveDoc()" ng-class="{'btn-danger':(numStepsCompleted()>=5),'btn-default':!(numStepsCompleted()>=5)}">
                      <span ng-show="numStepsCompleted()<5">Save Draft</span>
                      <span ng-show="numStepsCompleted()>=5">Cancel Request</span>
                    </button>
                  <button ng-show="!showEdit() && !isTabsValid()" class="btn btn-warning btn-block" type="submit">
                  Save & Validate Step</button>
                  <button ng-click="publishRequestDial()" ng-show="!showEdit() && isTabsValid()" ng-disabled="!isTabsValid()" class="btn btn-success btn-block" type="button"><span ng-show="numStepsCompleted()<5">Register Request</span><span ng-show="numStepsCompleted()>=5">Edit Request</span></button>
                </div>
            </div>
  </form>
</div>