
<div>

<style>
.has-warning-div{

  border-style: solid;
  border-width: 1px;
  border-color:#8a6d3b;
}
label{padding-top:5px;}
</style>


  <div ng-show="msg" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="msg=''">&times;</button>
    <strong>{{msg}}</strong>
  </div>

  <div class="alert alert-danger" ng-show="hasError()">
    <strong>Error as occured...</strong>
    <div>{{error}}</div>
  </div>

  <div ng-show="isLoading()">
    <i class="fa fa-spinner fa-spin"></i> Loading...
  </div>



  <form name="editForm"  style="margin-top:10px" ng-submit="submitForm(editForm)" novalidate>
    <legend class="container-subheader">
      <h2>General Information</h2>
    </legend>
<div></div>
    <div ng-show="registerAlert" class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="registerAlert=''">&times;</button>
      <strong>Please note that by registering for a side event you are not registering for entrance into the meeting.  Please see <a href="https://www.cbd.int/meetings/">https://www.cbd.int/meetings/<a/> for meeting registration information.</strong>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-8">
          <div class="row">
              <div class="col-xs-12 col-lg-6" >

                      <div   ng-class="{'has-warning': editForm.meeting.$error.required  && submitted}"  >
                          <label>Meeting</label>
                            <select id="editForm.meeting" class="form-control" ng-model="doc.confrence" name="meeting"   required>

                              <option ng-repeat="docObj in options.confrences" value="{{docObj._id}}" ng-if="docObj._id" ng-selected="docObj.selected">{{docObj.acronym}} </option>
                            </select>

                              <p ng-show="editForm.meeting.$error.required && submitted" class="help-block">A meeting is required.</p>
                      </div>

              </div>
              <div class="col-xs-12 col-lg-6" >
                <div   name="exp_num_participants"  ng-class="{'has-warning': (editForm.exp_num_participants.$error.required && submitted) || editForm.exp_num_participants.$error.number}">
                  <label>Expected Number of Participants {{submitted}}</label>
                  <input id="editForm.exp_num_participants" class="form-control" type="number" name="exp_num_participants"  ng-model="doc.expNumPart" placeholder=" " required/>
                  <p ng-show="editForm.exp_num_participants.$error.required && submitted" class="help-block">Number of participants is required.</p>
                  <p  ng-show="editForm.exp_num_participants.$error.number" class="help-block"> Not valid number!</p>
                </div>
              </div>
              <div class="col-xs-12 col-lg-12">
                <div   name="title"  ng-class="{'has-warning': editForm.title.$error.required && submitted}" >
                  <label>Title</label>
                  <input id="editForm.title" class="form-control" name="title" ng-model="doc.title" locales="doc.meta.locales" required >
                  <p ng-show="editForm.title.$error.required && submitted" class="help-block">Title is required.</p>
                </div>
              </div>
              <div class="col-md-12 col-xs-12" style="padding-bottom:10px;">
                <div    name="description"  ng-class="{'has-warning': editForm.description.$error.required && submitted}">
                  <label>Description</label>
                  <textarea id="editForm.description" class="form-control"  rows="4" name="description" ng-model="doc.description" placeholder=" " locales="doc.meta.locales" required></textarea>
                  <p ng-show="editForm.description.$error.required && submitted" class="help-block">Description is required.</p>
                  </div>
                </div>
        </div>
      </div>
        <div class="col-xs-12 col-lg-4" >
          <div class="km-control-group nowrap" name="logo" ng-required="!form.logo.$valid" caption="Event Icon (Not Org. Logo)">
            <button type="button" class="btn btn-default btn-sm" ng-click="toggleIcon()" style="margin-bottom:10px;">Black and White Generic Only</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="randomPic()" style="margin-bottom:10px;">Generate Random BIO Related Icon</button>
            <scbd-file-upload ng-modal="doc.logo" ng-attr-schema="{{schema}}" ng-attr-doc-id="{{_id}}"></scbd-file-upload>
          </div>
        </div>
    </div>



      <div id="hostOrg-error" ng-class="{'has-warning': editForm.hostOrgs.$error.required && submitted}">
          <legend class="container-subheader">
            <h2>Organization(s)</h2>
          </legend>

                <p id="hostOrgMsg" ng-show="editForm.hostOrgs.$error.required && submitted" class="help-block">At least one organization is required is required.</p>

          <div class="row">

            <div class="col-md-12 col-xs-12">
              <div name="hostOrgs" caption="" style="margin-right:20px;">

                <scbd-select-list ng-modal="doc.hostOrgs" schema="inde-orgs" show-org-form="showOrgForm" doc="doc" ></scbd-select-list>
              </div>
            </div>
          </div>
      </div>

      <legend class="container-subheader" style="margin-top:15px;">
        <h2>Contact Person </h2>
      </legend>

      <div class="row">

        <div class="col-md-4 col-xs-12">
          <div   name="personalTitle" caption="Personal Title">
            <label>Personal Title</label>
            <input class="form-control" type="text" ng-model="doc.contact.personalTitle" placeholder=" "/>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div   ng-class="{'has-warning': editForm.firstName.$error.required && submitted}">
            <label>First Name</label>
            <input id="editForm.firstName" class="form-control" type="text" name="firstName" ng-model="doc.contact.firstName" placeholder=" "/ required>
            <p ng-show="editForm.firstName.$error.required && submitted" class="help-block">First name is required.</p>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div   ng-class="{'has-warning': editForm.lastName.$error.required && submitted}">
            <label>Last Name</label>
            <input id="editForm.lastName" class="form-control" name="lastName" type="text" ng-model="doc.contact.lastName" placeholder=" "required/>
            <p ng-show="editForm.lastName.$error.required && submitted" class="help-block">Last name is required.</p>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4 col-xs-12">
          <div   name="jobTitla" caption="Job Title">
            <label>Job Title</label>
            <input class="form-control" type="text" ng-model="doc.contact.jobTitle" placeholder=" "/>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div   ng-class="{'has-warning': editForm.phone.$error.required && submitted}">
            <label>Phone Number</label>
            <input id="editForm.phone" class="form-control" name="phone" type="text" ng-model="doc.contact.phone" placeholder=" " required/>
            <p ng-show="editForm.phone.$error.required && submitted" class="help-block">Phone number is required.</p>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div   >
            <label>Mobile</label>
            <input id="editForm.mobile" class="form-control" name="mobile" type="text" ng-model="doc.mobile" placeholder=" " />
          </div>
        </div>

      </div>



            <div class="row" style="margin-bottom:15px;">
                <div class="col-lg-6 col-xs-12">
                  <div class=" col-md-12 col-xs-12">
                  <div >
                    <label for="address">Address</label>
                    <textarea rows="3" class="form-control" id="address" ng-model="doc.contact.address"></textarea>
                  </div>
                </div>

                  <div class="col-xs-12 col-lg-12">
                    <div   ng-class="{'has-warning': editForm.email.$error.required && submitted}">
                      <label>Email</label>
                      <input id="editForm.email" class="form-control" name="email" type="email" ng-model="doc.contact.email" placeholder=" " required/>

                      <p ng-show="editForm.email.$error.required && submitted" class="help-block">Email is required.</p>
                    </div>
                  </div>


                </div>
              <div class="col-lg-6 col-xs-12">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <div   ng-class="{'has-warning': editForm.city.$error.required && submitted}">
                        <label>City</label>
                      <input id="editForm.city" type="text" name="city" class="form-control"  ng-model="doc.contact.city" required/>
                      <p ng-show="editForm.city.$error.required && submitted" class="help-block">City is required.</p>
                    </div>
                  </div>
                </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="state">State / Province / Region</label>
                      <input type="text" class="form-control" id="state" ng-model="doc.contact.state" />
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                      <label for="zip">Postal / Zip code</label>
                      <input type="text" class="form-control" id="zip" ng-model="doc.contact.zip"/>
                    </div>
                  </div>
                  <div class=" col-md-6 col-xs-12" >
                    <div   ng-class="{'has-warning': editForm.country.$error.required && submitted}">
                      <div><label>Country</label></div>
                      <div id="editForm.country" km-select name="country" ng-model="doc.contact.country" items="options.countries()" required></div>
                      <p ng-show="editForm.country.$error.required && submitted" class="help-block">Country is required.</p>
                    </div>
                  </div>
              </div>
          </div>
      <legend class="container-subheader">
        <h2>Preferred Date and Time {{prefDate}}</h2>
      </legend>
      <div class="row">

        <div class="col-md-4 col-xs-12">
          <div ng-class="{'has-warning': editForm.prefDateOne.$error.required && submitted,'has-warning': editForm.prefTimeOne.$error.required && submitted }">
            <label>First Choice</label>
            <select id="editForm.prefDateOne" class="form-control" name="prefDateOne" ng-model="doc.prefDate.one" ng-disabled="!options.dates" required>
              <option value="" selected>Select a Date</option>
              <option value="{{date}}" ng-repeat="date in options.dates">{{date}}</option>
            </select>
            <p ng-show="editForm.prefDateOne.$error.required && submitted" class="help-block">First Choice Date required.</p>
            <select id="editForm.prefTimeOne" class="form-control" name="prefTimeOne" ng-model="doc.prefDateTime.one" ng-disabled="!options.dates" required>
              <option value="" selected>Select a Time</option>
              <option value="lunch">Lunch: 13:15 - 14:45</option>
              <option value="evening">Evening: 18:15 - 19:45</option>
            </select>
            <p ng-show="editForm.prefTimeOne.$error.required && submitted" class="help-block">First choice time required.</p>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div ng-class="{'has-warning': editForm.prefDateTwo.$error.required && submitted,'has-warning': editForm.prefTimeTwo.$error.required && submitted }">
            <label>Second Choice</label>
            <select id="editForm.prefDateTwo" class="form-control" name="prefDateTwo" ng-model="doc.prefDate.two" ng-disabled="!options.dates" required>
              <option value="" selected>Select a Date</option>
              <option value="{{date}}" ng-repeat="date in options.dates">{{date}}</option>
            </select>
            <p ng-show="editForm.prefDateTwo.$error.required && submitted" class="help-block">Second choice date required.</p>
            <select id="editForm.prefTimeTwo" class="form-control" name="prefTimeTwo" ng-model="doc.prefDateTime.two" ng-disabled="!options.dates" required>
              <option value="" selected>Select a Time</option>
              <option value="lunch">Lunch: 13:15 - 14:45</option>
              <option value="evening">Evening: 18:15 - 19:45</option>
            </select>
            <p ng-show="editForm.prefTimeTwo.$error.required && submitted" class="help-block">Second choice time required.</p>
          </div>
        </div>
        <div class="col-md-4 col-xs-12" style="margin-bottom:15px;">
          <div ng-class="{'has-warning': editForm.prefDateThree.$error.required && submitted,'has-warning': editForm.prefTimeThree.$error.required && submitted }" >
            <label>Third Choice</label>
            <select id="editForm.prefDateThree" class="form-control" name="prefDateThree" ng-model="doc.prefDate.three" ng-disabled="!options.dates" required>
              <option value="" selected>Select a Date</option>
              <option value="{{date}}" ng-repeat="date in options.dates">{{date}}</option>
            </select>
            <p ng-show="editForm.prefDateThree.$error.required && submitted" class="help-block">Third choice date required.</p>
            <select id="editForm.prefTimeThree" class="form-control" name="prefTimeThree" ng-model="doc.prefDateTime.three" ng-disabled="!options.dates" required>
              <option value="" selected>Select a Time</option>
              <option value="lunch">Lunch: 13:15 - 14:45</option>
              <option value="evening">Evening: 18:15 - 19:45</option>
            </select>
            <p ng-show="editForm.prefTimeThree.$error.required && submitted" class="help-block">Third choice time required.</p>
          </div>
        </div>
      </div>

      <legend class="container-subheader">
        <h2 >Requirements (optional)</h2>
      </legend>
      <div class="row">

        <div class="col-md-4 col-xs-4">
          <span ><scbd-icon-button type="fa" style="margin-top:5px;color:#009b48;font-size:16px;" icon-name="fa-square-o"  to-icon-name="fa-check-square-o" ani="tada" active="doc.requirements.lcd" ng-click="doc.requirements.lcd=!doc.requirements.lcd;"></scbd-icon-button>Internet Connection </span>
        </div>
        <div class="col-md-4 col-xs-4">
          <span ><scbd-icon-button type="fa" style="margin-top:5px;color:#009b48;font-size:16px;" icon-name="fa-square-o"  to-icon-name="fa-check-square-o" ani="tada" active="doc.requirements.pc" ng-click="doc.requirements.pc=!doc.requirements.pc;"></scbd-icon-button> PC</span>
        </div>
        <div class="col-md-4 col-xs-4">
          <span ><scbd-icon-button type="fa" style="margin-top:5px;color:#009b48;font-size:16px;" icon-name="fa-square-o"  to-icon-name="fa-check-square-o" ani="tada" active="doc.requirements.overhead" ng-click="doc.requirements.overhead=!doc.requirements.overhead;"></scbd-icon-button> Overhead Projector</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-4">
          <span ><scbd-icon-button type="fa" style="margin-top:5px;color:#009b48;font-size:16px;" icon-name="fa-square-o"  to-icon-name="fa-check-square-o" ani="tada" active="doc.requirements.sound" ng-click="doc.requirements.sound=!doc.requirements.sound;"></scbd-icon-button> Sound System</span>
        </div>
        <div class="col-md-4 col-xs-4">
          <span ><scbd-icon-button type="fa" style="margin-top:5px;color:#009b48;font-size:16px;" icon-name="fa-square-o"  to-icon-name="fa-check-square-o" ani="tada" active="doc.requirements.interpretation" ng-click="doc.requirements.interpretation=!doc.requirements.interpretation;"></scbd-icon-button>Interpretation  <span style="font-size:11px;">(at your own expense)</span></span>
        </div>
        <div class="col-md-4 col-xs-4">
          <span ><scbd-icon-button type="fa" style="margin-top:5px;color:#009b48;font-size:16px;" icon-name="fa-square-o"  to-icon-name="fa-check-square-o" ani="tada" active="doc.requirements.catering" ng-click="doc.requirements.catering=!doc.requirements.catering;"></scbd-icon-button>Catering </span><span style="font-size:11px;">(at your own expense)</span>
        </div>
        <div class="col-md-4 col-xs-4">
            <span ><scbd-icon-button type="fa" style="margin-top:5px;color:#009b48;font-size:16px;" icon-name="fa-square-o"  to-icon-name="fa-check-square-o" ani="tada" active="doc.requirements.skype" ng-click="doc.requirements.skype=!doc.requirements.skype;"></scbd-icon-button>Skype </span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 km-control-group">
          <div>Other
            <span style="font-size:9px;">(Please indicate any other requirements you may need)</span>

          </div>
          <input class="form-control" type="text" ng-model="doc.requirements.other"/>
        </div>
      </div>



      <legend class="container-subheader" ng-if="false">
        <h2>Side Event Promotion

        </h2>
      </legend>

      <div class="row" ng-if="false">
        <div class="col-md-2 col-xs-4">
          <span>Facebook Event
                                  <scbd-icon-button type="fa" style="margin-top:5px;color:#009b48;font-size:16px;" icon-name="fa-square-o"  to-icon-name="fa-check-square-o" ani="tada" active="doc.promotion.fbEvent" ng-click="doc.promotion.fbEvent=!doc.promotion.fbEvent;"></scbd-icon-button>
          </span>
        </div>

        <div class="col-md-2 col-xs-4">
          <span>Flyers
                      <scbd-icon-button type="fa" style="margin-top:5px;color:#009b48;font-size:16px;" icon-name="fa-square-o"  to-icon-name="fa-check-square-o" ani="tada" active="doc.promotion.flyers" ng-click="doc.promotion.flyers=!doc.promotion.flyers;"></scbd-icon-button>
        </span>
        </div>
        <div class="col-md-2 col-xs-4">
          <span>Email Cmapaign
          <scbd-icon-button type="fa" style="margin-top:5px;color:#009b48;font-size:16px;" icon-name="fa-square-o"  to-icon-name="fa-check-square-o" ani="tada" active="doc.promotion.emailCampaign" ng-click="doc.promotion.emailCampaign=!doc.promotion.emailCampaign;"></scbd-icon-button>
        </span>
          <!-- <input type="checkbox" ng-model="doc.promotion.emailCampaign"/> -->

        </div>
      </div>
      <div class="row"  ng-if="false">

        <div class="col-md-6 col-xs-12 km-control-group">
          <div>Your Website Promoting the Side Event </div>
          <input class="form-control" type="url" ng-model="doc.promotion.website"/>
        </div>
        <div class="col-md-6 col-xs-12 km-control-group">
          <div>Other
            <span style="font-size:9px;">(Please indicate any other steps you have taken to promote your side event)</span>
          </div>
          <input class="form-control" type="text" ng-model="doc.promotion.other"/>
        </div>
      </div>

      <legend class="container-subheader">
        <h2>Additional Information (optional)</h2>
      </legend>
      <div class="row">

        <div class="col-md-12 col-xs-12">
          <div   name="additionalInfo">
            <label>Message</label>
            <textarea style="width:100%" class="form-control" rows="4" name="additionalInfo" ng-model="doc.additionalInfo" ></textarea>
          </div>
        </div>

        <div class="col-md-2 col-xs-12">

                  <button class="btn btn-primary" type="submit" style="width:100%;margin-top:15px;"><i class="fa fa-floppy-o" ></i> Save</button>
                <!-- //  ng-click="saveDoc();publishRequestDial();"  -->
        </div>


        </div>

  </form>
</div>
