
<div ng-class="{'imbeded':hide}">



  <div ng-show="msg" class="alert alert-success alert-dismissable">

    <strong>{{msg}}</strong>
  </div>

<button type="button" class="pull-right" style="margin-bottom:10px" ng-click="toggleForm();" ng-show="hide"><i class="fa fa-times"   ></i></button>


  <form name="editForm" class="editForm" style="margin-top:10px">


      <legend class="container-subheader text-center no-wrap" ng-if="hide">
        <h2>  Create Organization</h2>
      </legend>
      <div class="row">
        <div class="col-xs-12">
          <div >
            <label>Name</label>
            <input  class="form-control"  name="title" ng-model="doc.title">
          </div>

        </div>

        <div class="col-md-4 col-xs-12">
          <div name="acronym" caption="Acronym">
            <label>Acronym</label>
            <input class="form-control" name="acronym" ng-model="doc.acronym">
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
<div>
            <label>Country (Head Office)</label>
            <div km-select name="country" ng-model="doc.country" items="options.countries()"></div>
          </div>
        </div>

        <div class="col-md-5  col-xs-12">

            <label>Logo</label>
            <br>
            <!-- <span ng-if="doc.logo!=='app/images/ic_business_black_48px.svg'">  -->

            <scbd-file-upload ng-modal="doc.logo" ng-attr-schema="{{schema}}" ng-attr-doc-id="{{_id}}"></scbd-file-upload>


        </div>


      </div>

    <div class="row">

      <div class="col-lg-4 col-xs-12">

        <button class="btn btn-primary" ng-click="saveDoc();publishRequestDial();" style="width:100%;margin-top:10px;"><i class="fa fa-floppy-o"></i> Save </button>

      </div>
    </div>


  </form>

</div>