<div ng-if="isNew">
    <p>
        Your side event has been saved as a draft. Would you like to formaly register your side event? Once aproved your side event will be published and included in the meeting schedule.
    </p>

    <div class="text-xs-center">
        <button class="btn btn-default" ng-click="closeThisDialog('draft');">
            Save as draft
        </button>
        <button class="btn btn-primary" ng-click="closeThisDialog('publish');">
            <i class="fa fa-floppy-o"></i>
            Register
        </button>
    </div>

</div>

<div ng-if="!isNew">
    <p>
        Your changes will be reviewed and once approved published.
    </p>

    <div class="text-xs-center">
        <button class="btn btn-default" ng-click="closeThisDialog('draft');">
            Save as draft
        </button>
        <button class="btn btn-primary" ng-click="closeThisDialog('publish');">
            <i class="fa fa-floppy-o"></i>
            Register
        </button>
    </div>
</div>
