<div >
    <p>  Please note you must request approval for your side event in order to secure a room for the event.
         Once approved and all side events have been scheduled into rooms, your side event will then be published and included in the side event schedule.
         Upon rejection or scheduling you will recieve an email with the details.
    </p>

    <div class="text-xs-center">
        <button class="btn btn-default" ng-click="closeThisDialog('draft');">
            No, Save as draft
        </button>
        <button class="btn btn-primary" ng-click="closeThisDialog('publish');">
            <i class="fa fa-floppy-o"></i>
            Send Request
        </button>
    </div>

</div>


