<div >
    <p>  Please note you must register your side event in order to reserve a room for the event.
         Once aproved and all side events have been scheduled into rooms, your side event will then be published and included in the side event schedule.
    </p>

    <div class="text-xs-center">
        <button class="btn btn-default" ng-click="closeThisDialog('draft');">
            No, Save as draft
        </button>
        <button class="btn btn-primary" ng-click="closeThisDialog('publish');">
            <i class="fa fa-floppy-o"></i>
            Register
        </button>
    </div>

</div>


