<div >
    <p>
        Would you like to formaly register your organization? Once aproved your organization will be published and included as an option for others to use within thier side event submissions.
    </p>

    <div class="text-xs-center">
        <button class="btn btn-default" ng-click="closeThisDialog('draft');">
            No, Save as draft
        </button>
        <button class="btn btn-primary" ng-click="closeThisDialog('publish');">
            <i class="fa fa-floppy-o"></i>
            Register
        </button>
    </div>

</div>


