/*.bg-lite-chrome{
  background-color:#A5C4D4;
  color:#fff;
}
.bg-dark-chrome{
  background-color:#8499B1;
  color:#fff;
}
.color-white{
    color:#fff;
}*/
/*deafault botton collors*/
.pulse {
		display: inline-block;
  	color:#009b48;
		font-size:2em;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: .5; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: .5; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: .5; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: .5; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: .5; }
	100% { opacity: 1; }
}
/*setting global button colors*/
.scbd-btn,  .scbd-btn-floating,  .scbd-btn-large {
  background-color:#009B48;
  color:#fff;
}
.scbd-btn:hover,  .scbd-btn-floating:hover,  .scbd-btn-large:hover, .scbd-btn:active,  .scbd-btn-floating:active,  .scbd-btn-large:hover  {
  background-color:rgba(0,155,72, 0.4);
	color:rgba(0, 0, 0, 0.6);
}

/*menu styles*/
.dash-menu{
color::#009B48;
background-color:#fff !important;
font-weight: normal !important;;
}

.dash-menu-color {
color:#009B48;
background-color:#fff;
  text-transform: uppercase;
-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.dash-menu-active{

position:absolute;
bottom:5px;
color:#222;
background-color:#fff;
text-transform: uppercase;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
/*margin: 1px 0 8px 0;*/
-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dash-menu-children-color {
	color:#009B48;
	background-color:#fff;
  position:absolute;
    left:10px;
    text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dash-menu-children-active{

  position:absolute;
  bottom:5px;
	color:#222;
	background-color:#fff;
  left:10px;
  text-transform: capitalize ;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /*margin: 1px 0 8px 0;*/
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*cbd menu styles*/

.cbd-menu{
color:#ffffff;
background-color:#009b48 !important;
}

.cbd-menu-color {
color:#ffffff;
background-color:#009b48;
  text-transform: uppercase;
-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cbd-menu-active{
color:#ffffff;
position:absolute;
bottom:5px;
background-color:#43A047;
text-transform: uppercase;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
/*margin: 1px 0 8px 0;*/
-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cbd-menu-children-color {
  color:#212121;
  background-color:#F5F5F5;
  position:absolute;
    left:10px;
    text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cbd-menu-children-active{
  color:#212121;
  position:absolute;
  bottom:5px;
  background-color:#F5F5F5;
  left:10px;
  text-transform: capitalize ;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /*margin: 1px 0 8px 0;*/
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*.secondary {background-color: #428bca;};*/

.secondary{
  background:#428bca;
  color:#fff;
}

