/*@import url(materialize-grid.css) screen, projection;*/
@import url(colors.css);
@import url(loading-bar.css);
@import url(shadow.css);
@import url(util.css);
@import url(card.css);
@import url(collection.css);
@import url(chip.css);
@import url(paralax.css);

/* line 23, ../libs/bootstrap-sass/lib/_buttons.scss */
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 28, ../libs/bootstrap-sass/lib/_buttons.scss */
.btn:hover, .btn:focus {
  color: #333333;
  text-decoration: none;
	  -webkit-box-shadow: none;
		box-shadow:none !important;
		font-weight:normal;
					text-shadow:none;
}

.btn i {color:#333;}
.btn:hover i {color:#333;}

/* line 34, ../libs/bootstrap-sass/lib/_buttons.scss */
.btn:active, .btn.active {
  outline: 0;
	background-color: #009B48;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		box-shadow:none;
}
/* line 42, ../libs/bootstrap-sass/lib/_buttons.scss */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;

}

/* line 55, ../libs/bootstrap-sass/lib/_buttons.scss */
.btn-default {
  color: #333333;
  background-color: white;
  border-color: #ccc;
	box-shadow: none;
	   background-image:none;
}
/* line 470, ../libs/bootstrap-sass/lib/_mixins.scss */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  color: #333;
  	background-color: ##e6e6e6;
  border-color: #adadad;
			font-weight:normal;
			text-shadow:none;
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,button, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}*/
/*body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
font-family: "Roboto","Helvetica Neue","sans-serif";
font-size: 16px;
line-height: 1.5;
font-weight: normal;
color: rgba(0, 0, 0, 0.87);
-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}*/

/*a {
  background-color: transparent;
  text-decoration: none:
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;

}*/
/*
@media (max-width: 960px) {
  html *{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 12px;
  }
}

body {
    margin: 0px;
		color: rgba(0, 0, 0, 0.87);
}
h1{font-size: 20px;
line-height: 30px;
vertical-align: middle;}*/

.select-list-container {
	overflow: auto;
	height: 300px;
	border-width: .5px;
	border-style: ridge;
	border-color: ##109e49;
}
.search {
 width: 5px;
 height:30px;
 border-radius: 20px;
 border-color:#009B48 !important;
 background-color: rgba(0,155,72, 0.4);;
 padding-left: 5px;
 position:absolute;
 top:3px;
 left:61px;
 opacity:0;
 -webkit-transition: all .5s ease;
 -moz-transition: all .5s ease;
 transition: all .5s ease;
}
.search:focus {outline:none;}
.search-expanded {
 width: 200px;
 left:61px;
 opacity:1;
}
.search-btn {
	/*display: inline-block !important;
  border: none !important;;*/
  position: relative !important;
	z-index:10;
  /*overflow: hidden !important;
  z-index: 1 !important;
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
  padding: 0 !important;*/
  /*background-color: #26a69a;*/
  /*border-radius: 50% !important;
  transition: .3s !important;
  cursor: pointer !important;
  vertical-align: middle !important;
  font-size:18px !important;*/
}
.search-btn-expanded {

animation: slide .5s;
animation-fill-mode: forwards;
}
@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  100% {
    left: 190px;
  }
}