<div ng-controller="adminDashBoard" class="view-container">

  <section class="row relative">
    <!-- ng-if="isLocked" -->
    <scbd-side-menu id="dashboard" sections="sections" bump-id="getBumped" open hide-lt-sm>
      <div class="portal-branding dash-nav-header" layout-align="center center">
        <h1>Admin Center</h1>
      </div>
    </scbd-side-menu>


    <div class="z-depth-3 dash-container " id="getBumped" style="height:400px;">
        No magic here yet.  Picture graphs,stats and data regarding side events and its attendies.

    </div>

  </section>
</div>