<div ng-controller="adminDashBoard" class="view-container">

  <section class="row relative">
    <!-- ng-if="isLocked" -->
    <scbd-side-menu id="dashboard" sections="sections" bump-id="getBumped" open hide-lt-sm>
      <div class="portal-branding dash-nav-header" layout-align="center center">
        <h1>Admin Center</h1>
      </div>
    </scbd-side-menu>


    <div class="z-depth-3 dash-container " id="getBumped">

<scbd-select-list ng-modal="test" schema="inde-orgs">

</scbd-select-list>
      <div>
        <h1 scbd-tip="Views" >Dashboard </h1>
          <scbd-icon-button  style="z-index:100;" type="fa" icon-name="fa-square-o"  to-icon-name="fa-check-square-o" ani="tada" active="docObj.selected" ></scbd-icon-button>
        <div class="menu-btn" ng-click="toggle('dashboard')">&#9776; Menu</div>
      </div><i class="material-icons">transfer_within_a_station</i>
<a>ddddd    <div class="tool-tip left">test tipdddddddd</div></a>
      <scbd-flat-button  active="active-dash-menu" active-path="{{section.path}}" class="dash-menu" ng-disabled="section.disabled">
        <i class="material-icons">transfer_within_a_station</i> my test button

      </scbd-flat-button>

      <scbd-button  ui-sref-active="active" ui-sref="{{section.path}}" ng-disabled="section.disabled" color="{{color}}" back-ground="{{backGround}}">

        <i class="material-icons">transfer_within_a_station</i> my test button

      </scbd-button>

      <scbd-fab-button ui-sref-active="active" ui-sref="{{section.path}}" ng-disabled="section.disabled" color="{{color}}" back-ground="{{backGround}}">
        <i class="material-icons">transfer_within_a_station</i>
      </scbd-fab-button>

      1
      <scbd-icon-button type="md" icon-name="close" waves-light></scbd-icon-button>
      2 3
      <scbd-icon-button scbd-tip="sdfsdf"  type="fa" icon-name="fa-bars" to-icon-name="fa-times" ani="tada"></scbd-icon-button>
      4
      <scbd-icon-button scbd-tip="sdfsdf"  type="fa" icon-name="fa-plus" to-icon-name="fa-times" ani="rubberBand" waves></scbd-icon-button>
      <scbd-icon-button type="fa" icon-name="fa-bell" data-badge="2"></scbd-icon-button>
      <scbd-icon-button scbd-tip="sdfsdf" type="md" icon-name="notifications" data-badge="3"></scbd-icon-button>
      <!-- 5  <scbd-icon-button   > <i class="material-icons md-badge md-badge--overlap" data-badge="11">notifications</i></scbd-icon-button>
      <scbd-icon-button   > <i class="fa fa-bell fa-badge fa-badge--overlap" data-badge="5"></i></scbd-icon-button> -->
      6
      <div style="background-color:#000000;height:100px;" hide-gt-sm>
        <scbd-icon-button type="md" icon-name="close" waves-light></scbd-icon-button>
        <scbd-icon-button waves-light> <i class="material-icons" style="color:white;">close</i></scbd-icon-button>
      </div>
      <p> <i class="mdi mdi-bell"></i> Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur
        reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne. Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne
        deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.
        Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne. Lorem ipsum
        dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, Lorem ipsum
        dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores
        honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne. Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani
        labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani
        labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne. Lorem ipsum dolor sit amet, ne quod novum mei. Sea
        omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare,
      </p>

    </div>

  </section>
</div>