<div ng-controller="adminEvents" class="view-container">

  <section class="row relative">
    <!-- ng-if="isLocked" -->
    <scbd-side-menu open id="dashboard" bump-id="getBumped" sections="sections" is-open="isLocked" hide-lt-sm>
      <div class="portal-branding dash-nav-header" layout-align="center center">
        <h1>Admin Center</h1>
      </div>
    </scbd-side-menu>


    <div class="z-depth-3 list-container" id="getBumped">
      <div class="container-header">

        <h1 ng-click="toggle('dashboard')">
          <scbd-icon-button type="md" icon-name="&#xE878;" style="font-size:30px;padding-right:10px;"></scbd-icon-button>All Side Events</h1>
        <div class="btn-group right ">
          <input type="text" ng-model="search" placeholder="search..." class="search"> </input>
          <scbd-fab-button style="margin-right:5px;" ng-click="searchToggle();"><i class="material-icons" ng-if="!sOpen">&#xE8B6;</i><i class="material-icons" ng-if="sOpen">&#xE5CD;</i></scbd-fab-button>
          <scbd-fab-button scbd-tip="Archive" style="margin-right:5px;" ng-click="goTo(createURL);"><i class="material-icons">&#xE145;</i></scbd-fab-button>
          <scbd-fab-button style="margin-right:5px;" ng-click="sortReverse=!sortReverse;"><i class="material-icons">&#xE053;</i></scbd-fab-button>

          <scbd-fab-button style="margin-right:5px;" ng-click="toggleListView()" ><i ng-if="listView==0" class="material-icons">&#xE8EF;</i><i ng-if="listView==1" class="material-icons">&#xE8F0;</i><i ng-if="listView==2" class="material-icons">&#xE8EE;</i></scbd-fab-button>
          <scbd-fab-button ng-click="toggleArchived();" ><i ng-if="!showArchived" class="material-icons">&#xE149;</i><i ng-if="showArchived" class="material-icons">&#xE169;</i></scbd-fab-button>


        </div>
        <div class="clearfix"></div>
      </div>
      <div class="container-header-filler">
      </div>
<div class="row">
  <!-- ng-repeat="status in statiFacits " -->

  <div id="chip-all" class="chip chip-active" ng-if="!showArchived" ng-click="selectChip('all')">
    <div>
      <scbd-icon-button type="md" icon-name="&#xEB3D;"></scbd-icon-button>
    </div>All
    <span class="sqr">{{statusFacits.all}}</span>
    <scbd-icon-button ng-if="selectedChip==''" style="color:#009b48" type="fa" icon-name="fa-circle" to-icon-name="fa-check-circle" ani="tada" active="true"></scbd-icon-button>
  </div>

  <div id="chip-request" class="chip" ng-if="!showArchived" ng-click="selectChip('request')">
    <div>
      <scbd-icon-button type="md" icon-name="&#xE0C6;"></scbd-icon-button>
    </div>Requests
    <span class="sqr">{{statusFacits.request}}</span>
    <scbd-icon-button ng-if="selectedChip=='request'" style="color:#009b48" type="fa" icon-name="fa-circle" to-icon-name="fa-check-circle" ani="tada" active="true"></scbd-icon-button>
  </div>
  <div id="chip-published" class="chip" ng-if="!showArchived" ng-click="selectChip('published')">
    <div>
      <scbd-icon-button type="md" icon-name="&#xE8DC;"></scbd-icon-button>
    </div>Approved
    <span class="sqr">{{statusFacits.published}}</span>
    <scbd-icon-button ng-if="selectedChip=='published'" style="color:#009b48" type="fa" icon-name="fa-circle" to-icon-name="fa-check-circle" ani="tada" active="true"></scbd-icon-button>
  </div>
  <div id="chip-canceled" class="chip" ng-if="!showArchived" ng-click="selectChip('canceled')">
    <div>
      <scbd-icon-button type="md" icon-name="&#xE8DD;"></scbd-icon-button>
    </div>Canceled
    <span class="sqr">{{statusFacits.canceled}}</span>
    <scbd-icon-button ng-if="selectedChip=='canceled'" style="color:#009b48" type="fa" icon-name="fa-circle" to-icon-name="fa-check-circle" ani="tada" active="true"></scbd-icon-button>
  </div>
  <div id="chip-rejected" class="chip" ng-if="!showArchived" ng-click="selectChip('rejected')">
    <div>
      <scbd-icon-button type="md" icon-name="&#xE8DB;"></scbd-icon-button>
    </div>Rejected
    <span class="sqr">{{statusFacits.rejected}}</span>
    <scbd-icon-button ng-if="selectedChip=='rejected'" style="color:#009b48" type="fa" icon-name="fa-circle" to-icon-name="fa-check-circle" ani="tada" active="true"></scbd-icon-button>
  </div>
  <div id="chip-all" class="chip chip-active" ng-if="showArchived" ng-click="selectChip('all')">
    <div>
      <scbd-icon-button type="md" icon-name="&#xEB3D;"></scbd-icon-button>
    </div>All
    <span class="sqr">{{statusFacitsArcView.all}}</span>
    <scbd-icon-button ng-if="selectedChip=='all'" style="color:#009b48" type="fa" icon-name="fa-circle" to-icon-name="fa-check-circle" ani="tada" active="true"></scbd-icon-button>
  </div>
  <div id="chip-archived" class="chip" ng-if="showArchived" ng-click="selectChip('archived')">
    <div>
      <scbd-icon-button type="md" icon-name="&#xE149;"></scbd-icon-button>
    </div>Archived
    <span class="sqr">{{statusFacitsArcView.archived}}</span>
    <scbd-icon-button ng-if="selectedChip=='archived'" style="color:#009b48" type="fa" icon-name="fa-circle" to-icon-name="fa-check-circle" ani="tada" active="true"></scbd-icon-button>
  </div>
  <div id="chip-deleted" class="chip" ng-if="showArchived">
    <div>
      <scbd-icon-button type="md" icon-name="&#xE872;"></scbd-icon-button>
    </div>Deleted
    <span class="sqr">{{statusFacitsArcView.deleted}}</span>
    <scbd-icon-button ng-if="selectedChip=='deleted'" style="color:#009b48" type="fa" icon-name="fa-circle" to-icon-name="fa-check-circle" ani="tada" active="true"></scbd-icon-button>
  </div>
</div>
      <!-- CARD VIEW -->
      <section class="row" ng-if="listView">
        <div class="col s12 m3 lg4" ng-repeat="doc in docs |orderBy:'document.title.en':sortReverse | filter:search | filter:statusFilter" >
          <div class="card small ">
            <div class="card-image" ng-if="doc.document.logo">

              <img src="{{doc.document.logo}}">
              <div ng-if="doc.document.meta.status==='request'" style="vertical-align:middle;padding-left:2px;color:white;text-align:left;background-color:rgba(0, 0, 0, 0.6) ;position:absolute;left:0px;top:0px;width:100%;"><span  style="line-height:20px;"><i class="material-icons" >&#xE0C6;</i> Request</span>               <span class="title right" style="color:white;position:absolute;right:1px;top:1px;font-size:8px;font-weight:bold;">{{doc.document.confrenceObj.acronym | lstring}}/#{{doc.document.id}}</span></div>
              <div ng-if="doc.document.meta.status==='published'" style="vertical-align:middle;padding-left:2px;color:white;text-align:left;background-color:rgba(0, 0, 0, 0.6) ;position:absolute;left:0px;top:0px;width:100%;"><span  style="line-height:20px;"><i class="material-icons">&#xE8DC;</i> Approved</span>               <span class="title right" style="color:white;position:absolute;right:1px;top:1px;font-size:8px;font-weight:bold;">{{doc.document.confrenceObj.acronym | lstring}}/#{{doc.document.id}}</span></div>
              <div ng-if="doc.document.meta.status==='canceled'" style="vertical-align:middle;padding-left:2px;color:white;text-align:left;background-color:rgba(0, 0, 0, 0.6) ;position:absolute;left:0px;top:0px;width:100%;"><span  style="line-height:20px;"><i class="material-icons">&#xE8DD;</i> Canceled</span>               <span class="title" style="color:white;position:absolute;right:1px;top:1px;font-size:8px;font-weight:bold;">{{doc.document.confrenceObj.acronym | lstring}}/#{{doc.document.id}}</span></div>
              <div ng-if="doc.document.meta.status==='rejected'" style="vertical-align:middle;padding-left:2px;color:white;text-align:left;background-color:rgba(0, 0, 0, 0.6) ;position:absolute;left:0px;top:0px;width:100%;"><span  style="line-height:20px;"><i class="material-icons">&#xE8DB;</i> Rejected</span>               <span class="title" style="color:white;position:absolute;right:1px;top:1px;font-size:8px;font-weight:bold;">{{doc.document.confrenceObj.acronym | lstring}}/#{{doc.document.id}}</span></div>
              <div ng-if="doc.document.meta.status==='archived'" style="vertical-align:middle;padding-left:2px;color:white;text-align:left;background-color:rgba(0, 0, 0, 0.6) ;position:absolute;left:0px;top:0px;width:100%;"><span style="line-height:20px;"><i class="material-icons">&#xE149;</i> Archived</span>               <span class="title" style="color:white;position:absolute;right:1px;top:1px;font-size:8px;font-weight:bold;">{{doc.document.confrenceObj.acronym | lstring}}/#{{doc.document.id}}</span></div>
            </div>
            <div class="card-content">
              <div class="center">
                {{doc.document.title | lstring}}
              </div>
            </div>
            <div class="card-action ">
              <span class="action-grp">
                <scbd-icon-button type="md" icon-name="&#xE8DC;" ng-click="approveDoc(doc);" ng-if="(doc.document.meta.status!=='archived' && doc.document.meta.status!=='published')" waves></scbd-icon-button>

                <scbd-icon-button type="md" icon-name="&#xE3C9;" ng-click="edit(doc._id);" waves></scbd-icon-button>
                <scbd-icon-button type="md" icon-name="&#xE149;" ng-click="archiveDoc(doc);" ng-if="doc.document.meta.status!=='archived'" waves></scbd-icon-button>
                <scbd-icon-button type="md" icon-name="&#xE8DD;" ng-click="cancelDoc(doc);" ng-if="doc.document.meta.status!=='archived'" waves></scbd-icon-button>
                <scbd-icon-button type="md" icon-name="&#xE8DB;" ng-click="rejectDoc(doc);" ng-if="doc.document.meta.status!=='archived'" waves></scbd-icon-button>

                <scbd-icon-button type="md" icon-name="&#xE169;" ng-click="unArchiveDoc(doc);" ng-if="doc.document.meta.status==='archived'" waves></scbd-icon-button>
                <scbd-icon-button style="color:red;" type="md" icon-name="&#xE872;" ng-click="deleteDoc(doc);" ng-if="doc.document.meta.status==='archived' || doc.document.meta.status==='deleted'" waves></scbd-icon-button>
              </span>
            </div>
          </div>
        </div>
      </section>

      <!-- LIST VIEW -->
      <section class="row" ng-if="!listView">
        <div class="col s12 collection fx-fade-up fx-ease-sine" ng-repeat="doc in docs |orderBy:'document.title.en':sortReverse | filter:customSearch | filter:statusFilter" style="margin-bottom:8px;">
          <div class="collection-item ">
            <div style="width:130px;height:115px; position:absolute;top:0px;left:0px;">
              <div style="width:130px;height:115px; position:ralative;text-align:center;">

                <img ng-if="doc.document.logo.length" src="{{doc.document.logo}}" style="clear:both;max-width:100%;height:100px;"></img>
                <i ng-if="!doc.document.logo.length" class="material-icons" style="position:absolute;top:5px;left:20px;color:#cccccc;font-size:80px;">&#xE0AF;</i>
              </div>
            </div>
            <div  style="position:absolute; left:140px;width:100%;height:100px;">
                  <div style="margin-bottom:25px;"><span class="title">{{doc.document.confrenceObj.acronym | lstring}}/#{{doc.document.id}}</span> - {{doc.document.title | lstring}}</div>

                  <div class="cir">
                    <span  ng-repeat="org in doc.document.orgs" style="margin:0 2px 0 0;">
                      <span class="cir" >
                        <img src="{{org.logo}}" style="vertical-align:middle;" ng-if="org.logo.length>0" />
                        <scbd-icon-button type="md" icon-name="&#xE872;" ng-if="!org.logo"></scbd-icon-button>
                      </span>
                      <span style="padding:0px 0px 0px 1px; vertical-align:middle;"> {{org.acronym | lstring}} |</span>
                    </span>
                    <span class="circle"><i class="material-icons" style="vertical-align:middle;">&#xE7FD;</i></span><span> {{doc.document.contact.FirstName}} {{doc.document.contact.LastName}}</span>
                  </div>



            </div>
            <div ng-if="doc.document.meta.status==='request'" style="color:white;text-align:center;background-color:rgba(0, 0, 0, 0.6) ;position:absolute;left:0px;bottom:0px;width:128px;"><span  ><i class="material-icons" >&#xE0C6;</i> Request</span></div>
            <div ng-if="doc.document.meta.status==='published'" style="color:white;text-align:center;background-color:rgba(0, 0, 0, 0.6) ;position:absolute;left:0px;bottom:0px;width:128px;"><span  ><i class="material-icons">&#xE8DC;</i> Approved</span></div>
            <div ng-if="doc.document.meta.status==='canceled'" style="color:white;text-align:center;background-color:rgba(0, 0, 0, 0.6) ;position:absolute;left:0px;bottom:0px;width:128px;"><span  ><i class="material-icons">&#xE8DD;</i> Canceled</span></div>
            <div ng-if="doc.document.meta.status==='rejected'" style="color:white;text-align:center;background-color:rgba(0, 0, 0, 0.6) ;position:absolute;left:0px;bottom:0px;width:128px;"><span  ><i class="material-icons">&#xE8DB;</i> Rejected</span></div>
            <div ng-if="doc.document.meta.status==='archived'" style="color:white;text-align:center;background-color:rgba(0, 0, 0, 0.6) ;position:absolute;left:0px;bottom:0px;width:128px;"><span ><i class="material-icons">&#xE149;</i> Archived</span></div>
            <div style="height:95px;"></div>
            <!-- <div>{{doc.document.acronym | lstring}}</div> -->
            <div class="collection-action">
              <span class="collection-action-grp ">
                <scbd-icon-button type="md" icon-name="&#xE8DC;" ng-click="approveDoc(doc);" ng-if="(doc.document.meta.status!=='archived' && doc.document.meta.status!=='published')" waves></scbd-icon-button>

                <scbd-icon-button type="md" icon-name="&#xE3C9;" ng-click="edit(doc._id);" waves></scbd-icon-button>
                <scbd-icon-button type="md" icon-name="&#xE149;" ng-click="archiveDoc(doc);" ng-if="doc.document.meta.status!=='archived'" waves></scbd-icon-button>
                <scbd-icon-button type="md" icon-name="&#xE8DD;" ng-click="cancelDoc(doc);" ng-if="doc.document.meta.status!=='archived'" waves></scbd-icon-button>
                <scbd-icon-button type="md" icon-name="&#xE8DB;" ng-click="rejectDoc(doc);" ng-if="doc.document.meta.status!=='archived'" waves></scbd-icon-button>

                <scbd-icon-button type="md" icon-name="&#xE169;" ng-click="unArchiveDoc(doc);" ng-if="doc.document.meta.status==='archived'" waves></scbd-icon-button>
                <scbd-icon-button style="color:red;" type="md" icon-name="&#xE872;" ng-click="deleteDoc(doc);" ng-if="doc.document.meta.status==='archived' || doc.document.meta.status==='deleted'" waves></scbd-icon-button>
                <!-- <scbd-icon-button type="md" icon-name="&#xE90B;" waves></scbd-icon-button> -->
              </span>
            </div>
          </div>

        </div>
      </section>

    </div>

  </section>

</div>