<div ng-controller="adminOrganizations" >

  <div ng-show="msg" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="msg=''">&times;</button>
    <strong>{{msg}}</strong>
  </div>

  <div class="alert alert-danger" ng-show="hasError()">
    <strong>Error as occured...</strong>
    <div>{{error}}</div>
  </div>

  <div ng-show="isLoading()">
    <i class="fa fa-spinner fa-spin"></i> Loading...
  </div>
  <section class="row relative">
    <!-- menues-->

    <scbd-side-menu right-side overlay id="adminOrgOptions" sections="menu">
      <div class="portal-branding dash-nav-header" layout-align="center center">
        <h1>Options</h1>
      </div>
    </scbd-side-menu>
    <!-- <div class="container-header-name visible-xs" mobi-menu>All<span ng-if="showArchived">Archived</span> Organizations</span></div> -->
    <div class="list-container" >

      <div   mobi-menu>
        <div class="col-xs-5 hidden-xs">
          <div class="input-group input-group-sm search-bs">
            <input type="test" class="form-control " ng-model="search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="search='';"><i class="fa fa-search" ng-if="!search"></i><i class="fa fa-times" ng-if="search"></i></button>
            </span>
          </div>
        </div>
        <span class="container-header-name visible-xs" ><h1 style="display:inline;">All <span ng-if="showArchived">Archived</span> Organizations</h1></span>
        <span class="container-header-name hidden-xs" ><h1 style="display:inline;">All <span ng-if="showArchived">Archived</span> Organizations</h1></span>
        <div class=" pull-right" >
          <button class="btn btn-default btn-sm" ng-click="toggle('adminOrgOptions')"><i class="fa fa-ellipsis-h"></i></button>
        </div>
        <div class="clearfix"></div>
      </div>
<div class="row">
      <div  class="col-xs-12 visible-xs">
        <div class="input-group input-group-sm search-bs">
          <input type="test" class="form-control " ng-model="search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="search='';"><i class="fa fa-search" ng-if="!search"></i><i class="fa fa-times" ng-if="search"></i></button>
          </span>
        </div>
      </div>
    </div>
      <!-- chips -->
      <!-- chips -->
      <!-- chips -->
      <!-- chips -->
      <!-- chips -->
      <div class="row chips-row hidden-md hidden-sm hidden-xs"  ng-if="!search" style="margin-top:10px;">
        <!-- ng-repeat="status in statiFacits " -->
        <div ng-show="loading" style="display:inline;">
          <i class="fa fa-spinner fa-spin"></i> Loading...
        </div>
        <div id="chip-all" class="chip chip-active "  ng-show=" ((!loading) &&(!showArchived )  || (selectedChip==='all'&& !showArchived))" ng-click="selectChip('all')">
          <div>
            <i class="material-icons">&#xEB3D;</i>
          </div>All
          <span class="sqr">{{statusFacits.allNoArchived}}</span>
        </div>

        <div id="chip-draft" class="chip"  ng-show=" ((!loading) &&(!showArchived && statusFacits.draft) || selectedChip==='draft')" ng-click="selectChip('draft')">
          <div>
            <i class="material-icons">&#xE24D;</i>
          </div>Drafts
          <span class="sqr">{{statusFacits.draft}}</span>
        </div>
        <div id="chip-request" class="chip"  ng-show=" ((!loading) &&(!showArchived && statusFacits.request) || selectedChip==='request')" ng-click="selectChip('request')">
          <div>
            <i class="material-icons">&#xE0C6;</i>
          </div>Requests
          <span class="sqr">{{statusFacits.request}}</span>
        </div>
        <div id="chip-published" class="chip"  ng-show=" ((!loading) &&(!showArchived && statusFacits.published) || selectedChip==='published')" ng-click="selectChip('published')">
          <div>
            <i class="material-icons">&#xE8DC;</i>
          </div>Under Review
          <span class="sqr">{{statusFacits.published}}</span>
        </div>
        <div id="chip-canceled" class="chip"  ng-show=" ((!loading) &&(!showArchived && statusFacits.canceled) || selectedChip==='canceled')" ng-click="selectChip('canceled')">
          <div>
            <i class="material-icons">&#xE8DD;</i>
          </div>Canceled
          <span class="sqr">{{statusFacits.canceled}}</span>
        </div>
        <div id="chip-rejected" class="chip"  ng-show=" ((!loading) &&(!showArchived && statusFacits.rejected) || selectedChip==='rejected')" ng-click="selectChip('rejected')">
          <div>
            <i class="material-icons">&#xE8DB;</i>
          </div>Rejected
          <span class="sqr">{{statusFacits.rejected}}</span>
        </div>

        <div id="chip-archived" class="chip chip-active"  ng-show=" ((!loading) &&(showArchived ) || selectedChip==='archived')" ng-click="selectChip('archived')">
          <div>
            <i class="material-icons">&#xE149;</i>
          </div>Archived
          <span class="sqr">{{statusFacits.archived}}</span>
        </div>
      </div>

      <!-- LIST VIEW -->
      <section ng-if="!listView" style="margin-top:5px;">
        <div class="row chips-row hidden-md hidden-sm hidden-xs" ng-if="search">
          showing: <span class="label label-pill label-primary " >{{filtered.length}} </span> for '{{search}}'
        </div>
        <div class="row collection " ng-repeat="doc in filtered = (docs |orderBy:'document.title.en':sortReverse | filter:customSearch | filter:statusFilter)" style="margin-bottom:8px;">
          <div class="collection-item ">
            <div style=" position:absolute;top:0px;left:0px;">
              <div class="collection-item-img-cont">

                <img ng-if="doc.logo.length" src="{{doc.logo}}" class="collection-item-img"></img>
                <i ng-if="!doc.logo.length" class="material-icons collection-item-i">&#xE0AF;</i>
              </div>
            </div>
            <div  class="event-title-collection">
              <div style="margin-bottom:25px;width:80%;white-space: normal;">
                <a style="cursor:pointer;" ng-click="goTo('/manage/organizations/'+doc._id);"><span class="hidden-md hidden-sm hidden-xs"><b>{{doc.acronym  }} </b>- </span> {{doc.title   | characters:100}}</div></a>
                <div class="cir hidden-sm hidden-md hidden-xs">
                  <span class="hidden-md hidden-sm hidden-xs" ng-repeat="org in doc.orgs" style="margin:0 2px 0 0;">
                    <span class="cir">
                      <img src="{{org.logo}}" style="vertical-align:middle;" ng-if="org.logo.length>0" />
                      <scbd-icon-button type="md" icon-name="&#xE872;" ng-if="!org.logo"></scbd-icon-button>
                    </span>
                    <span style="padding:0px 0px 0px 1px; vertical-align:middle;"> {{org.acronym}} |</span>
                  </span>
                  <span class="hidden-md hidden-sm hidden-xs" class="circle"><i class="material-icons" style="vertical-align:middle;">&#xE7FD;</i></span>
                  <span class="hidden-md hidden-sm hidden-xs"> {{doc.contact.FirstName}} {{doc.contact.LastName}}</span>
                </div>

            </div>
            <!-- mobi orgs -->

            <div class="cir hidden-lg hidden-xl" style="position:absolute; left:1px;bottom:1px;">
              <span ng-repeat="org in doc.orgs" style="margin:0 2px 0 0;">
                <span class="cir">
                  <img src="{{org.logo}}" style="vertical-align:middle;" ng-if="org.logo.length>0" />
                </span>
                <span style="font-size:.8rem;padding:0px 0px 0px 1px; vertical-align:middle;"> {{org.acronym  }} |</span>
              </span>
              <span ng-if="isAdmin()" class="circle" style="font-size:.8rem;"><i class="material-icons" style="vertical-align:middle;">&#xE7FD;</i></span>
              <span ng-if="isAdmin()" style="font-size:.8rem;"> {{doc.contact.FirstName}} {{doc.contact.LastName}}</span>
            </div>
            <!-- mobi title status-->
            <div class="hidden-lg hidden-xl" style="color:white;text-align:left;background-color:rgba(0, 0, 0, 0.6);position:absolute;left:0px;top:0px;width:100%;padding: 2px 5px 0px 5px;font-size:.8rem;line-height:.8rem">
              <span style="white-space: normal;">{{doc.acronym  }}</span>
              <span class="pull-right" ng-if="doc.meta.status==='draft'" ><i class="material-icons">&#xE24D;</i> Draft</span>
              <span class="pull-right" ng-if="doc.meta.status==='request'"><i class="material-icons">&#xE0C6;</i> Request</span>
              <span class="pull-right" ng-if="doc.meta.status==='published'"><i class="material-icons">&#xE8DC;</i> Approved</span>
              <span class="pull-right" ng-if="doc.meta.status==='canceled'" ><i class="material-icons">&#xE8DD;</i> Canceled</span>
              <span class="pull-right" ng-if="doc.meta.status==='rejected'"><i class="material-icons">&#xE8DB;</i> Rejected</span>
              <span class="pull-right" ng-if="doc.meta.status==='archived'"><i class="material-icons">&#xE149;</i> Archived</span>
            </div>

            <!-- large status -->
            <div class="hidden-md hidden-sm hidden-xs" style="color:white;text-align:center;background-color:rgba(0, 0, 0, 0.6) ;position:absolute;left:0px;bottom:0px;width:128px;">
              <span ng-if="doc.meta.status==='draft'" ><i class="material-icons">&#xE24D;</i> Draft</span>
              <span ng-if="doc.meta.status==='request'"><i class="material-icons">&#xE0C6;</i> Request</span>
              <span ng-if="doc.meta.status==='published'"><i class="material-icons">&#xE8DC;</i> Approved</span>
              <span ng-if="doc.meta.status==='canceled'" ><i class="material-icons">&#xE8DD;</i> Canceled</span>
              <span ng-if="doc.meta.status==='rejected'"><i class="material-icons">&#xE8DB;</i> Rejected</span>
              <span ng-if="doc.meta.status==='archived'"><i class="material-icons">&#xE149;</i> Archived</span>
            </div>



            <div style="height:95px;"></div>
            <div class="hidden-lg hidden-xl" style="height:95px;"></div>

            <div class="collection-action">
              <span class="collection-action-grp ">
                <div class="btn-group btn-group-vertical btn-group-xs hidden-xs hidden-sm hidden-md" ng-if="doc.meta.status!=='archived'">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a ng-click="edit(doc._id);" ><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a ng-click="archiveDoc(doc);"><i class="material-icons">&#xE149;</i> Archive</a></li>

                      <li ng-if="isAdmin()" role="separator" class="divider"></li>
                      <li ng-if="isAdmin()"><a ng-click="approveDoc(doc);"><i class="material-icons">&#xE8DC;</i> Approve/Publish</a></li>
                      <li ng-if="isAdmin()"><a ng-click="cancelDoc(doc);"><i class="material-icons">&#xE8DD;</i> Cancel</a></li>
                      <li ng-if="isAdmin()"><a  ng-click="rejectDoc(doc);"><i class="material-icons">&#xE8DB;</i> Reject</a></li>
                    </ul>
                  </div>
              </div>
              <div class="btn-group btn-group-vertical btn-group-xs hidden-lg hidden-xl" ng-if="doc.meta.status!=='archived'">
                <button data-toggle="tooltip" title="Edit" class="btn btn-default" ng-click="edit(doc._id);" ng-if="doc.meta.status!=='archived'"><i class="fa fa-pencil"></i></button>
                <button data-toggle="tooltip" title="Archive" class="btn btn-default" ng-click="archiveDoc(doc);" ng-if="doc.meta.status!=='archived'"><i class="material-icons">&#xE149;</i></button>
              </div>
              <div class="btn-group btn-group-vertical btn-group-xs hidden-lg hidden-xl" ng-if="doc.meta.status!=='archived'" ng-if="doc.meta.status!=='archived'">
                <button ng-if="isAdmin()" data-toggle="tooltip" title="Publish/Approve" class="btn btn-default" ng-click="approveDoc(doc);" ng-if="(doc.meta.status!=='archived' && doc.meta.status!=='published')"><i class="material-icons">&#xE8DC;</i></button>
                <button ng-if="isAdmin()" data-toggle="tooltip" title="Cancel" class="btn btn-default" ng-click="cancelDoc(doc);" ng-if="(doc.meta.status!=='archived' && doc.meta.status!=='canceled')"><i class="material-icons">&#xE8DD;</i></button>
                <button ng-if="isAdmin()" data-toggle="tooltip" title="Reject" class="btn btn-default" ng-click="rejectDoc(doc);" ng-if="(doc.meta.status!=='archived' && doc.meta.status!=='rejected')"><i class="material-icons">&#xE8DB;</i></button>
              </div>
              <div class="btn-group btn-group-vertical btn-group-xs " ng-show="doc.meta.status==='archived'">

                <button data-toggle="tooltip" title="Unarchive" class="btn btn-default"  ng-click="unArchiveDoc(doc);"  ><i class="material-icons">&#xE169;</i></button>
                <button ng-if="isAdmin()" data-toggle="tooltip" title="Delete" class="btn btn-default"  ng-click="deleteDial(doc);" ><i class="material-icons">&#xE872;</i></button>
              </div>
              </span>
            </div>
          </div>

        </div>
      </section>

    </div>

  </section>

</div>