


/*@media  (min-width: 600px) {
  .portal-view-container{
    padding:40px 20px 10px 20px;
  }
  .portal-dashboard-container{
    margin:0 0 0 20px;
    border-radius: 8px 8px 0 0;
    width:90%;
  }
  #portal-toolbar{
    background-color:#8499B1;
    color:#fff;
    border-radius: 8px 8px 0 0;
  }
}*/