<div ng-controller="dashBoard" class="view-container">
  <section layout="row" flex>
<!-- ng-if="isLocked" -->
    <scbd-side-menu id="dashboard" sections="dashboard" full-screen="false" back-ground="#444444" children-back-ground="#444444" children-color="#bbbbbb" toggle-back-ground="#444444" toggle-color="#bbbbbb" link-color="#000000"   is-open="isLocked">
      <!-- <md-toolbar class="portal-branding" style="" layout-align="center center">
        <span hide-sm hide-xs>Management Center</span>
      </md-toolbar> -->
      <!-- <div>
      <ul>
    <li><a href="#">Item 1</a></li>
    <li><a href="#">Item 2</a></li>
</ul>
</div> -->
    </scbd-side-menu>


    <div md-whiteframe="15" class=" dash-container" >


        <div >
          <h1>Dashboard</h1><div class="menu-btn" ng-click="toggle('dashboard')">&#9776; Menu</div>
        </div>



        <p>      Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum
              labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne. Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro,
              inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro,
              inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne. Lorem ipsum dolor sit amet, ne quod novum mei.
              Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, Lorem ipsum dolor sit amet, ne quod novum mei.
              Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius
              in, eam praesent reformidans no. Sed laudem aliquam ne. Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At
              vix sale omnesque, id pro labitur reformidans accommodare, Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed.
              At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne. Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in
              lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare,
                        </p>

    </div>

  </section>
</div>


