<div ng-controller="dashBoard" class="view-container">

  <section class="row relative">
    <!-- ng-if="isLocked" -->
    <scbd-side-menu id="dashboard" sections="sections" bump-id="getBumped" open hide-lt-sm>
      <div class="portal-branding dash-nav-header" layout-align="center center">
        <h1>Management Center</h1>
      </div>
    </scbd-side-menu>


    <div class="z-depth-3 dash-container " style="height:300px;" id="getBumped" ng-if="isAuthenticated">
      <div class="menu-btn right" ng-click="toggle('dashboard')">&#9776; Menu</div>
    </div>

  </section>
</div>