<div ng-controller="edit-organization" >

  <section class="row relative">
    <!-- slidy menues-->
    <!-- <scbd-side-menu overlay id="dashboard" sections="sections">
      <div class="portal-branding dash-nav-header" layout-align="center center">
        <h1>MANAGEMENT Center</h1>
      </div>
    </scbd-side-menu>
    <scbd-side-menu right-side overlay id="editOrgOptions" sections="sectionsOptions">
      <div class="portal-branding dash-nav-header" layout-align="center center">
        <h1>Options</h1>
      </div>
    </scbd-side-menu> -->
    <div class="container-header-name hidden-lg hidden-xl">Create an Organization</div>
    <div class="list-container" >
        <!-- header -->
      <div class="container-header" >
        <div class="pull-left ">
          <!-- <button type="button" class="btn btn-default btn-sm" ng-click="toggle('dashboard')"><i class="fa fa-bars" ng-if="!mOpen"></i></button> -->

        </div>
        <span class="container-header-name hidden-md hidden-sm hidden-xs" ><h1 style="display:inline;"><span ng-if="isNew">New </span> <span ng-if="!isNew">Edit</span> Organization</h1></span>
        <div class=" pull-right" >
          <button class="btn btn-default btn-sm" ng-click="close()" ng-if="prev"><i class="fa fa-times"></i></button>
        </div>
        <div class="clearfix"></div>
      </div>
              <!-- header -->
     <edit-organization ng-if="isAuthenticated"></edit-organization>
    </div>

  </section>

</div>