<div ng-controller="edit-event">
  <section class="row relative">
    <!-- ng-if="isLocked" -->
    <scbd-side-menu overlay id="dashboard" sections="sections">
      <div class="portal-branding dash-nav-header" layout-align="center center">
        <h1>MANAGEMENT Center</h1>
      </div>
    </scbd-side-menu>
    <scbd-side-menu right-side overlay id="editEventOptions" sections="sectionsOptions">
      <div class="portal-branding dash-nav-header" layout-align="center center">
        <h1>Options</h1>
      </div>
    </scbd-side-menu>

    <div class="list-container">
      <div class="container-header" mobi-menu>
        <span class="hidden-xs"><h1 style="display:inline;white-space:nowrap">
          <span ng-if="!isNew">Edit a</span>
          <span ng-if="isNew">Register a</span> Side Event </h1>
        </span>
        <span class="visible-xs">
          <h4 style="display:inline;background-color:#fff;">
            <span ng-if="!isNew">Edit a</span>
            <span ng-if="isNew">Register a</span> Side Event </h4>
        </span>
        <button style="position:absolute; right:10px; top:5px;" class="btn btn-default btn-sm" ng-click="close()" ng-if="prev"><i class="fa fa-times"></i></button>
      </div>
      <div class="clearfix"></div>
      <edit-side-event></edit-side-event>
    </div>
  </section>
</div>