

.i-hover{color:black;}
.scbd-list-item.ng-enter,
.scbd-list-item.ng-leave
{
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.scbd-list-item.ng-enter.ng-enter-active,
.scbd-list-item.ng-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.scbd-list-item.ng-leave.ng-leave-active,
.scbd-list-item.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}

.collection{margin: 0 0 0 0;}
.collection .title{font-weight: bold;}
.card.small{height:200px;}
.card .card-content {
    padding: 10px 20px 5px 20px;
    border-radius: 0 0 2px 2px;
}
.card .card-image {
    padding: 10px 20px 5px 20px;
    border-radius: 0 0 2px 2px;
    height:50%;
}
  .card-action {height:40px;}

.collection-action{
  width:100px;
  color:#109e49;
  font-size: 30px;
float:right;
}

.collection-action-grp{
  height:40px;
  color:#109e49;
  font-size: 30px;
  position:absolute;
  bottom:30px;
  right:1%;
  z-index: 20px;
}
/*.card-action{max-height:45px;position:absolute;bottom:0px; width:100%; display:inline-block;}
card-content{max-height:50px;}*/
.card-action{text-align: center;left:0px; background-color:#ffffff;}
.action-grp{
  height:40px;
  color:#109e49;
  font-size: 20px;
  position:absolute;
  bottom:0px;
  width:100%;
  z-index: 20px;
  text-align: center;
  left:0px;
}
.action-grp-filler{
  height:40px;
  position: relative;
}



.container-header{
    text-align: center;
  border-top: solid;
  border-top-width: 3px;
  border-top-color: #109e49;

  width:100%;
  height:43px;

  vertical-align: top;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ffffff;
  -webkit-box-shadow: 0 0 0 0px white, 0 1px 1px #ddd;
   -moz-box-shadow: 0 0 0 0px white, 0 1px 1px #ddd;
   box-shadow: 0 0 0 0px white, 0 1px 1px #ddd;
   padding: 3px 15px 5px 15px;
}

.container-header-name{

  font-size: 2.5em;
  line-height: .8em;
  margin-bottom: 22px;
}



.container-header .btn-group{
  position: absolute;
  top:0px;
  right:0px;
  padding-right: 15px;
  padding-top: 2px;

}
.container-subheader{

  border-top: solid;
  border-top-width: 1px;
  border-top-color: #109e49;
  width:100%;
  height:20px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #109e49;
  -webkit-box-shadow: 0 0 0 0px white, 0 2px 2px #ddd;
   -moz-box-shadow: 0 0 0 0px white, 0 2px 2px #ddd;
   box-shadow: 0 0 0 0px white, 0 2px 2px #ddd;
   padding: 0px 15px 0px 15px;
   margin-bottom: 20px;
   height:30px;
}
.container-header-filler{
  height:40px;
  width:100%;
}

.container-subheader h2 {
  font-size: 18px;
  line-height: 30px;
  vertical-align: middle;
}
.relative{position:relative;}

.chips-row{

  margin-bottom:7px;
margin-left:1px;
}

.org-acronym{
  position:relative;
  font-size: 10px;
  font-weight: bold;
  width:100%;
  bottom:-8px;

}

.list-container {

  border-radius: 4px;
  margin: 0px 20px 0px 20px;
  padding: 15px 15px 15px 15px;
  -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  z-index:0;
  min-height:400px;

}
.collection-item-img-cont{
width:130px;height:115px; position:ralative;text-align:center;
}
.collection-item-img{
  clear:both;max-width:100%;height:100px;
}
.collection-item-i{
position:absolute;top:5px;left:20px;color:#cccccc;font-size:80px;
}
@media (max-width: 960px) {
  .org-chips{float:left;}
  .navbar {margin-bottom:0px;
  }
  .collection-item-img-cont{
  width:50px;height:50px; position:ralative;text-align:center;
  }
  .container-header{

    margin-bottom:10px;

  }
.container-header-name{
  padding-left: 3px;
  font-size: 14px;
  background-color: #f4f4f4;
  width:100%;
margin-bottom:0px;
height:16px;
line-height: 16px;
}
  .list-container {

    border-radius: 4px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    position: relative;
    z-index:0;
    min-height:400px;
    width:100%;
  }
}
