<div ng-controller="organizations" class="view-container">

  <section class="row relative" >
    <!-- ng-if="isLocked" -->
    <scbd-side-menu right-side open id="dashboard" bump-id="getBumped" sections="dashboard"  is-open="isLocked" hide-lt-sm>
      <div class="portal-branding dash-nav-header" layout-align="center center">
        <h1>Management Center</h1>
      </div>
    </scbd-side-menu>


    <div class="z-depth-3 dash-container" id="getBumped" style="height:400px;">


        <div >
          <h1 ng-click="toggle('dashboard')">Organizations</h1>
        </div>

    </div>

  </section>

</div>


