<div class="row" ng-show="isRegistrationOpen">
  <div class="col-lg-6 col-lg-offset-3  col-sm-6 col-xs-12" ng-repeat="meeting in meetings">

    <div class="panel" ng-class="{ 'panel-primary' : m.primary, 'panel-info' : !m.primary }">
      <div class="panel-heading  text-center text-nowrap">
        <h4 class="hidden-xs" style="color:inherit;">{{meeting.titleShort || meeting.EVT_CD}}</h4>
        <h5 class="visible-xs" style="color:inherit;">{{meeting.titleShort || meeting.EVT_CD}}</h5>
        <div ng-if="!meeting.hideDates" class="text-center">{{meeting.EVT_FROM_DT | date:'dd/MM/yyyy': 'UTC' }}
          <span> to </span> {{meeting.EVT_TO_DT | date:'dd/MM/yyyy':'UTC' }}
        </div>
      </div>
      <div class="panel-body text-center" >
        <div class="btn-group-vertical">
          <a class="btn btn-sm btn-info" ng-href="/side-events/manage/events/new?meetingId={{meeting._id}}">Request a Side-event</a>
        </div>
      </div>
      <div class="panel-footer text-right">
        <div ng-if="!meeting.hideDates" class="text-center">
          <span > Deadline for this side-event registration is:</span><br> <strong>{{ meeting.end | date:'dd/MM/yyyy':'UTC' }} </strong></div>
        </div>
      </div>
  </div>
</div>
