<div class="row">
    <div class="table-responsive">
        <div class='row'>
            <div class="col-xs-12">
                <table class="table table-hover table-striped" style="margin-top:10px;">
                    <thead>
                        <tr class="info">
                            <th width="5%" class="text-nowrap"> <sorter label-name="Acronym" ng-model="sort" direction="direction" property="acronym" data-source="angular"></sorter></th>
                            <th width="40%"><sorter label-name="Name" ng-model="sort" direction="direction" property="name" data-source="angular"></sorter></th>
                            <th width="5%" class="text-nowrap">
                                <sorter label-name="Capacity" ng-model="sort" direction="direction" property="capacity" data-source="angular"></sorter>
                            </th>
                            <th class="text-nowrap" width="5%"><sorter label-name="At Table" ng-model="sort" direction="direction" property="atTable" data-source="angular"></sorter></th>
                            <th width="10%">Shape</th>
                            <th width="30%"><sorter label-name="Building/Location" ng-model="sort" direction="direction" property="location" data-source="angular"></sorter></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="doc in rooms | orderBy:getSort():direction  track by $index" ng-if="doc.isSideEvent">
                            <td>
                                {{doc.acronym}}
                            </td>
                            <td>
                                {{doc.title}}
                            </td>
                            <td>
                                {{doc.capacity}}
                            </td>
                            <td>
                                {{doc.atTable}}
                            </td>
                            <td>
                                {{roomTypeTitle(doc.type)}}
                            </td>
                            <td>
                                {{doc.location}}
                            </td>
                        </tr>
                    </tbody>
            </div>
        </div>
    </div>
</div>