<div ng-cloak >
  <div style="position:fixed;top:0px;left:0px;z-index:10000;" hide-gt-sm>



<img src="/app/images/cbd-logo-green-en.svg" style="padding: 25px 5px 25px 20px;"></img>
  </div>
  <!-- <div   class="portal-nav-mobi portal-branding" layout="row" layout-align="center center" ng-class="portalMobiNavClass"  ng-cloak hide-gt-sm>


    <scbd-fab-button aria-label="Meeting" class="md-fab md-raised md-mini" ng-click="goTo('/#meeting');">
      <scbd-icon-button  type="md" icon-name="nature_people"></scbd-icon-button>
    </scbd-fab-button>
  <scbd-fab-button aria-label="Event" class="md-fab md-raised md-mini" ng-click="goTo('/#search');">
    <scbd-icon-button  type="md" icon-name="nature_people">event</scbd-icon-button>
  </scbd-fab-button>

  <scbd-fab-button aria-label="About" class="md-fab md-raised md-mini" ng-click="goTo('/#about');">
    <scbd-icon-button  type="md" icon-name='info_outline'>info_outline</scbd-icon-button>
  </scbd-fab-button>
  <scbd-fab-button aria-label="Request" class="md-fab md-raised md-mini" ng-click="goTo('/#request');">
    <scbd-icon-button type="md" icon-name='add_location'>add_location</scbd-icon-button>
  </scbd-fab-button>
  <scbd-fab-button aria-label="Manage" class="md-fab md-raised md-mini" ng-click="goTo('/manage');" >
    <scbd-icon-button  type="md" icon-name="dashboard">dashboard</scbd-icon-button>
  </scbd-fab-button>

  </div> -->



<div class="z-depth-2" style="background:#444444;"  ng-cloak>
<section  hide-lt-sm>
  <span class="cl-effect-14" >
    <a id="home" ng-click="goTo('/');setActivePath();">Home </a>
    <a id="request" ng-click="goTo('/manage/events/0');setActivePath();">Request</a>
    <a id="dash" ng-click="goTo('/manage/events');setActivePath();" ng-if="isAuthenticated">Dashboard</a>
    <a id="admin" ng-click="goTo('/admin');setActivePath();"  ng-if="isAdmin">Admin</a>
    <!-- <a id="help" ng-click="goTo('/help');setActivePath();" class="pull-right"> Help</a> -->
  </span>
</section>
</div>
<div class="space-filler" ng-class="spaceFillClass" hide-gt-sm>
</div>


</div>