<div ng-cloak>

    <style>
      .portal-nav-mobi-filler{height:55px;}
      .portal-nav-mobi{


      padding: 5px 0px 5px 0px;

      position: absolute;
      left:-10px;
      border-style: solid;
      border-width: 1px;
      height:55px;
      line-height: 40px;
      width:115%;
      white-space: nowrap;
      background-color:#eee;
      color:#fff;
      z-index:50;
      }
      .space-filler{

        height:50px;
      }
      .portal-nav-mobi-big {
        -webkit-transition:0.2s linear all;
        -moz-transition:0.2s linear all;
        -o-transition:0.2s linear all;
        transition:0.2s linear all;
          visibility:visible;
          opacity:1;
          height:55px;

      }
      .space-filler-big{

        height:50px;
      }
      .portal-nav-mobi-small {
        -webkit-transition:0.2s linear all;
        -moz-transition:0.2s linear all;
        -o-transition:0.2s linear all;
        transition:0.2s linear all;
        visibility:hidden;
        opacity:0;
        height:0px;
      }
      .space-filler-small{

        height:5px;
      }

      .lg-menu{
        height:40px;
        margin: 0 0 5px; 0;
      border-top-style:solid;
      border-top-width:.5px;
        border-top-color:#eee;

      }
      .sm-menu{
        height:40px;
        margin: 0 0 5px; 0;
      border-top-style:solid;
      border-top-width:.5px;
        border-top-color:#eee;
        font-size:1rem;
      }
      /* Effect 21: borders slight translate */
      .cl-effect-14 a {

      margin-top:3px;
      text-decoration:none;

      display:inline-block;
      line-height: 20px;
      font-size:14px;
      font-weight:bold;
      height:23px;
      letter-spacing:1px;

      margin-left:10px;
      margin-right:10px;

      /*outline-color:rgb(35, 117, 70);
      outline-style:none;
      outline-width:0px;*/

      /*padding-left:10px;
      padding-right:10px;
      */
      position:relative;
      text-align:center;
      background-color: #fff;
      text-shadow:none;
      text-transform:uppercase;
        padding: 10px;
        margin-bottom:3px;
        color: #009B48;
        font-weight: 700;
        text-shadow: none;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;
      }

      /* Effect 14: border switch */
      .cl-effect-14 a {
        padding: 0 5px 0 5px;
        height: 30px;
        line-height: 30px;
        cursor:pointer;
      }

      .cl-effect-14 a:hover{

      background-color: #eee;
      -webkit-transition: background-color 0.5s linear;
      -moz-transition: background-color 0.5s linear;
      transition: background-color 0.5s linear;

      }


      .cl-effect-14 a::before,
      .cl-effect-14 a::after {
        position: absolute;

        width: 28px;
        height: 2px;
        background: #009B48;
        content: '';
        opacity: 0.2;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        pointer-events: none;
      }


      .cl-effect-14 a::before {
        top: 0;
        left: 0;

        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        transform-origin: 0 0;
      }

      .cl-effect-14 a::after {
        right: 0;
        bottom: 0;

        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: 100% 0;
        -moz-transform-origin: 100% 0;
        transform-origin: 100% 0;
      }

      .cl-effect-14 a:hover::before,
      .cl-effect-14 a:hover::after,
      .cl-effect-14 a:focus::before,
      .cl-effect-14 a:focus::after {
        opacity: 1;
      }

      .cl-effect-14 a:hover::before,
      .cl-effect-14 a:focus::before {
        left: 50%;
        -webkit-transform: rotate(0deg) translateX(-50%);
        -moz-transform: rotate(0deg) translateX(-50%);
        transform: rotate(0deg) translateX(-50%);
      }

      .cl-effect-14 a:hover::after,
      .cl-effect-14 a:focus::after {
        right: 50%;
        -webkit-transform: rotate(0deg) translateX(50%);
        -moz-transform: rotate(0deg) translateX(50%);
        transform: rotate(0deg) translateX(50%);
      }


      .cl-effect-14 .active  {
        color: #009B48;
        font-size:16px;
        font-weight: bolder;
          opacity: 1;
          cursor:pointer;
          background-color: #eee;
      }
    </style>

  <!-- mobil menu -->
  <!-- <div class="row portal-nav-mobi portal-branding center visible-xs" ng-class="portalMobiNavClass" ng-cloak>
    <div class="btn-group ">
      <button  id="home-sm" class="btn btn-default  btn-sm " ng-click="goTo('/');setActivePath();">Side Events</button>
      <button  id="request-sm" class="btn btn-default  btn-sm " ng-click="goTo('/manage/events/new?c=56f14b1e49a977d560a27ede');setActivePath();" >Register a S.E.</button>
      <button id="past-sm" class="btn btn-default  btn-sm " ng-click="goTo('/past');setActivePath();">Past Events</button>

      <button id="dash-sm" class="btn btn-default  btn-sm " ng-click="goTo('/manage');setActivePath();" ng-if="isAuthenticated">Dashboard</button>
      <button id="admin-sm" class="btn btn-default btn-sm " ng-click="goTo('/admin');setActivePath();" ng-if="isAdmin">Admin</button>
    </div>
  </div> -->
  <div >
    <div>
      <nav  class="collapse navbar-collapse1" role="navigation">
        <ul class="nav navbar-nav">
          <li class="active" ng-href=""  ng-click="goTo('/');setActivePath();"setScrollTo('');><a href="#">Side-events</a></li>
          <!-- <li class="active"  ng-click="goTo('/');setActivePath();setScrollTo('rooms');" scroll-to="faq"><a href="#">faq</a></li> -->
          <!-- <li class="active" ng-href="past" ng-click="goTo('/past');setActivePath();setScrollTo('');"><a href="#">Past Events</a></li> -->
          <!-- <li class="active"  ng-click="goTo('/');setActivePath();setScrollTo('rooms');" scroll-to="rooms"><a href="#">Rooms</a></li> -->
          <li class="active"  ng-href="manage" ng-click="goTo('/manage');setActivePath();setScrollTo('');"><a href="#">Dashboard</a></li>
          <li class="active" ng-href="admin"  ng-click="goTo('/admin');setActivePath();setScrollTo('');" ng-if="isAdmin"><a href="#">Admin</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- large menu -->
  <div ng-cloak>
    <section class="lg-menu  hidden-xs">
      <span class="cl-effect-14">
        <a id="home" ng-href="" ng-click="goTo('/');setActivePath();setScrollTo('');">Side Events </a>
        <!-- <a ng-click="goTo('/');setActivePath();setScrollTo('faq');" scroll-to="faq">FAQ </a>
        <a ng-click="goTo('/');setActivePath();setScrollTo('rooms');" scroll-to="rooms">Rooms </a> -->
        <!-- <a id="past" ng-href="past" ng-click="goTo('/past');setActivePath();setScrollTo('');">Past Events </a> -->
        <a id="dash" ng-href="manage" ng-click="goTo('/manage');setActivePath();setScrollTo('');" >Dashboard</a>
        <a id="admin" ng-href="admin" ng-click="goTo('/admin');setActivePath();setScrollTo('');" ng-if="isAdmin">Admin</a>
      </span>
    </section>
  </div>
</div>