<div ng-cloak>
  <div   class="portal-nav-mobi" layout="row" layout-align="center center" ng-class="portalMobiNavClass" ng-if="!isGtSm"  ng-cloak>


    <md-button aria-label="Meeting" class="md-fab md-raised md-mini" ng-click="goTo('/#meeting');">
      <md-icon  aria-label="Meeting">nature_people</md-icon>
    </md-button>
  <md-button aria-label="Event" class="md-fab md-raised md-mini" ng-click="goTo('/#search');">
    <md-icon  aria-label="Event">event</md-icon>
  </md-button>

  <md-button aria-label="About" class="md-fab md-raised md-mini" ng-click="goTo('/#about');">
    <md-icon  aria-label="About">info_outline</md-icon>
  </md-button>
  <md-button aria-label="Request" class="md-fab md-raised md-mini" ng-click="goTo('/#request');">
    <md-icon aria-label="Request">add_location</md-icon>
  </md-button>
  <md-button aria-label="Manage" class="md-fab md-raised md-mini" ng-click="goTo('/manage');" >
    <md-icon  aria-label="Manage">dashboard</md-icon>
  </md-button>

  </div>



<div class="navbar-default "  layout="column"  ng-cloak>
<section ng-if="isGtSm" >
  <span class="cl-effect-14" >
    <a ng-click="goTo('/#meeting');"> Meeting </a>
    <a ng-click="goTo('/#search');"> Side Events</a>
    <a ng-click="goTo('/#about');">  About </a>
    <a ng-click="goTo('/#request');"> Request Side Event</a>
    <a ng-click="goTo('/manage');" > Manage</a>
    <a ng-click="goTo('/help');" class="pull-right"> Help</a>
  </span>
</section>
</div>
<div class="space-filler" ng-class="spaceFillClass" ng-if="!isGtSm">
</div>


</div>