/*.scbd-portal-nav .navbar-default .navbar-nav li a {
    color: #8499B1;
    cursor: pointer;
    padding: 0 0 0 0px;
    line-height: 10px;
    text-shadow: 0 0 0;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 15px;
    margin-top:9px;
    margin-bottom:5px;
    padding: 0 15px 0 15px;
    min-height:30px;
}*/

/*.scbd-portal-nav .navbar-default .navbar-nav li a:hover {
    color: #A5C4D4;
}
.scbd-portal-nav .navbar-links{
    min-height:30px;
}*/


/*.scbd-portal-nav .navbar{height:20px;}
@media (max-width: 600px){
    .scbd-portal-nav .navbar-nav>li {

        color: #ffffff;

        font-size: 25px;
    }
    .scbd-portal-nav .navbar-default .navbar-nav{


    }
}*/
.portal-nav-mobi-filler{height:55px;}
.portal-nav-mobi{


padding: 5px 0px 5px 0px;

 position: absolute;
 left:-10px;
border-style: solid;
border-width: 1px;
height:55px;
line-height: 40px;
width:115%;
white-space: nowrap;
background-color:#eee;
color:#fff;
z-index:50;
}
.space-filler{

  height:50px;
}
.portal-nav-mobi-big {
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;
    visibility:visible;
    opacity:1;
    height:55px;

}
.space-filler-big{

  height:50px;
}
.portal-nav-mobi-small {
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;
  visibility:hidden;
  opacity:0;
   height:0px;
}
.space-filler-small{

  height:5px;
}

.lg-menu{
  height:40px;
  margin: 0 0 5px; 0;
 border-top-style:solid;
 border-top-width:.5px;
  border-top-color:#eee;

}
.sm-menu{
  height:40px;
  margin: 0 0 5px; 0;
 border-top-style:solid;
 border-top-width:.5px;
  border-top-color:#eee;
  font-size:1rem;
}
/* Effect 21: borders slight translate */
.cl-effect-14 a {

margin-top:3px;
 text-decoration:none;

display:inline-block;
line-height: 20px;
font-size:14px;
font-weight:bold;
height:23px;
letter-spacing:1px;

margin-left:10px;
margin-right:10px;

/*outline-color:rgb(35, 117, 70);
outline-style:none;
outline-width:0px;*/

/*padding-left:10px;
padding-right:10px;
*/
position:relative;
text-align:center;
background-color: #fff;
text-shadow:none;
text-transform:uppercase;
	padding: 10px;
  margin-bottom:3px;
	color: #009B48;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

/* Effect 14: border switch */
.cl-effect-14 a {
	padding: 0 5px 0 5px;
	height: 30px;
	line-height: 30px;
  cursor:pointer;
}

.cl-effect-14 a:hover{

background-color: #eee;
-webkit-transition: background-color 0.5s linear;
-moz-transition: background-color 0.5s linear;
transition: background-color 0.5s linear;

}


.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;

	width: 28px;
	height: 2px;
	background: #009B48;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}


.cl-effect-14 a::before {
	top: 0;
	left: 0;

	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.cl-effect-14 a::after {
	right: 0;
	bottom: 0;

	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
	opacity: 1;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}


.cl-effect-14 .active  {
  color: #009B48;
  font-size:16px;
  font-weight: bolder;
  	opacity: 1;
    cursor:pointer;
    background-color: #eee;
}

