
<nav class="portal-branding hidden-xs hidden-sm">
<!-- https://coolors.co/app/aaa9a9-965e8d-611975-2c0e37-000000 -->
     <!-- ng-class="{'training-bg': !production_env}"> -->
    <div class="container-fluid container-portal" style="padding:0 20px;">
        <div class="row " style="margin: 0 0 0 0;">

                <div class="color-cbdgreen " style="position:relative;user-select: none;text-decoration: none;height:90px;">
                          <img src="/app/images/inde-logo.svg" style="height:80px;padding:3px 5px 0 0;margin-top:4px;"/>
                          <span class="color-white " style="font-size:60px;position:absolute;bottom:15px;">Indē​ </span>
                          <span class="color-white " style="letter-spacing:2px;text-transform:uppercase;position:absolute;bottom:49px;left:275px;">Side Event Promotion</span>
                          <span class="color-white " style="font-size:10px;text-transform:uppercase;position:absolute;bottom:40px;left:380px;">&</span>
                          <span class="color-white " style="letter-spacing:2px; text-transform:uppercase;position:absolute;bottom:22px;left:283px;">MANAGEMENT System</span>
                          <!-- <span class="color-orange" ng-if="training_env"> <img src="/app/img/cbd-spine.png" style="height:42px;position:relative;top:-5px;padding:0 5px 0 0;margin:0;"/>  ABSCH <span class="color-black">TRAINING</span></span>
                          <span class="color-orange" ng-if="development_env"> <img src="/app/img/cbd-spine.png" style="height:42px;position:relative;top:-5px;padding:0 5px 0 0;margin:0;"/>  ABSCH <span class="color-black">DEVELOPMENT</span></span> -->
                        <img src="/app/images/cbd-logo-white-en.svg" class="right" style="padding: 0; margin:10px 0 5px 0;height:66px;" />
                </div>




        </div>
    </div>
</nav>
