

<button id="toggle-button" class="scbd-btn-flat waves-effect" ng-click="toggle()" aria-expanded="section.open" active="active" active-path="{{section.path}}"  ng-disabled="section.disabled" style="outline: none;position: relative;width:100%;text-align:left;border-top-style: solid;border-top-color: #eee;border-top-width: .5px;" ng-show="hasRole()" >
  <i ng-class="['fa', section.faIcon, section.faIconSize]" ng-if="section.faIcon"></i>
  <i class="material-icons" ng-if="section.mdIcon"  style="font-size:1rem;">{{section.mdIcon}}</i>
  <img ng-src="{{section.imgSrc}}" style="height:26px;padding-top:3px;" ng-if="section.imgSrc"></img>
  <span style="padding-left:10px;position:absolute;left:25px;bottom:-1px;" >{{section.name}}</span>
  <scbd-icon-button class="right" style="position:absolute;right:8px;top:2px;font-size:1rem;" type="fa" icon-name="fa-plus"  to-icon-name="fa-times" ani="tada" active="!section.open" ></scbd-icon-button>
</button>

<div id="side-menu-{{section.name}}" ng-repeat="page in section.pages" style="color:{{childrenColor}};background-color:{{childrenBackGround}};padding-left:20px;" class="menu-toggle-list" ng-show="section.open">

    <menu-link section="page" user="user"></menu-link>

</div>