<style>
  .list-group-item a {
    text-decoration: none !important
  }
  .list-group-item.active,
  .list-group-item:hover,
  .list-group-item:focus {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
  }
  .pushy{
    display: none;
    position: absolute;
    width: 240px;
    height: 100%;
    -webkit-opacity: 1; -moz-opacity: 1; opacity: 1;
    top: 0;
    /*z-index: 9999;*/
    background: #009b48;
    font-size: 0.9em;
    font-weight: bold;
    /*-webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);*/
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}
.p-right{
  right:0;

}
/*.pushy  a{
    display: block;

    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(255, 255, 255, .1);
    text-decoration: none;
}*/

/*.pushy a:hover{
    background: #000000;
    color: #FFF;
}*/

/* Menu Movement */

.pushy-left{



    -webkit-opacity: 0; -moz-opacity: 0; opacity: 0;
    -webkit-transform: translate3d(-240px,0,0);
    -moz-transform: translate3d(-240px,0,0);
    -ms-transform: translate3d(-240px,0,0);
    -o-transform: translate3d(-240px,0,0);
    transform: translate3d(-240px,0,0);
}
.pushy-right{

  -webkit-opacity: 0; -moz-opacity: 0; opacity: 0;

    -webkit-transform: translate3d(240px,0,0);
    -moz-transform: translate3d(240px,0,0);
    -ms-transform: translate3d(240px,0,0);
    -o-transform: translate3d(240px,0,0);
    transform: translate3d(240px,0,0);

}

.pushy-open{

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

 /*.push-push{
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
}*/

/* Menu Transitions */

.pushy, #container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */

.site-overlay{
    display: none;
}

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 498;
    background-color: rgba(0,0,0,0.5);
    -webkit-animation: fade 500ms;
    -moz-animation: fade 500ms;
    -o-animation: fade 500ms;
    animation: fade 500ms;
}

@keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Example Media Query */

@media screen and (max-width: 768px){
    .pushy{
        font-size: 1.0em;
    }
}

.menu-toggle-list {

  max-height: 1300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}
.menu-toggle-list.ng-hide {
  max-height: 0;
}

</style>
<div class="site-overlay" ng-click="toggle()"></div>
<nav class="pushy">
  <div class="list-group">
    <!-- single link -->
    <li class="list-group-item" ng-repeat="section in sections" ng-if="section.type === 'link'" style="text-decoration:none;color:#333;cursor:pointer;">
      <a ng-click="goTo(section);" style="text-decoration:none;color:#333;font-size:1.5rem;"> <i ng-class="['fa', section.faIcon, section.faIconSize]" ng-if="section.faIcon"></i><i class="material-icons" ng-if="section.mdIcon" style="font-size:1.5rem;">{{section.mdIcon}}</i> {{section.name}}</a>
    </li>

    <!-- nested links -->
    <li class="list-group-item" ng-repeat-start="section in sections" ng-if="section.type === 'toggle'" style="text-decoration:none;color:#333;cursor:pointer;" ng-click="section.show=!section.show;">
      <a ng-click="goTo(section);" style="text-decoration:none;color:#333;font-size:1.5rem;"> <i ng-class="['fa', section.faIcon, section.faIconSize]" ng-if="section.faIcon"></i><i class="material-icons" ng-if="section.mdIcon" style="font-size:1.5rem;">{{section.mdIcon}}</i> {{section.name}}</a>
      <i class="fa fa-plus pull-right" style="font-size:1.5rem;cursor: pointer;"  ng-click="section.show=true;$event.stopPropagation();" ng-show="!section.show"></i><i class="fa fa-times pull-right" style="font-size:1.5rem;cursor: pointer;" ng-click="section.show=false;$event.stopPropagation();" ng-show="section.show"></i>
    </li>
    <li class="list-group-item" ng-if="section.show" ng-repeat="page in section.pages" style="text-decoration:none;color:#333;cursor:pointer;" ng-repeat-end>
      <a ng-click="goTo(page);" style="padding-left:20px;text-decoration:none;color:#333;font-size:1.5rem;"> <i ng-class="['fa', section.faIcon, section.faIconSize]" ng-if="section.faIcon"></i><i class="material-icons" ng-if="section.mdIcon" style="font-size:1.5rem;">{{page.mdIcon}}</i> {{page.name}}</a>
    </li>
  </div>
</nav>