.lst-search {
 width: 5px;
 height:30px;
 border-radius: 20px;
 outline:none !important;
 border-top-color:#eee !important;
 border-left-color:#eee !important;
 border-bottom-color:#eee !important;
 background-color: #fff;
 padding-left: 5px;
 position:absolute;
 top:6px;
 left:20px;
 opacity:0;
 -webkit-transition: all .5s ease;
 -moz-transition: all .5s ease;
 transition: all .5s ease;
}
.lst-search:focus {outline:none;}
.lst-search-expanded {
 width: 200px;
 left:20px;
 opacity:1;
}
.search-lbtn {

  position: relative !important;
	z-index:10;
}
.search-lbtn-expanded {

animation: lslide .5s;
animation-fill-mode: forwards;
}
@keyframes lslide {
  0% {
    left: 0;
    top: 0;
  }
  100% {
    left: 190px;
  }
}
