
.collection{margin: 0 0 0 0;}
.collection .title{font-weight: bold;}
.card.small{height:200px;}
.card .card-content {
    padding: 10px 20px 5px 20px;
    border-radius: 0 0 2px 2px;
}
.card .card-image {
    padding: 10px 20px 5px 20px;
    border-radius: 0 0 2px 2px;
    height:50%;
}
.card  .card-action {height:40px;background-color: transparent !important;}

.collection-action{
  width:100px;
  color:#109e49;
  font-size: 30px;
float:right;
}

.collection-action-grp{
  height:40px;
  color:#109e49;
  font-size: 30px;
  position:absolute;
  bottom:30px;
  right:1%;
  z-index: 20px;
}
/*.card-action{max-height:45px;position:absolute;bottom:0px; width:100%; display:inline-block;}
card-content{max-height:50px;}*/

.action-grp{
  height:40px;
  color:#109e49;
  background-color: transparent;
  font-size: 20px;
  position:absolute;
  bottom:0px;
  left:47%;
  z-index: 20px;
}
.action-grp-filler{
  height:40px;
  position: relative;
}

.view-container{
  padding: 15px 0 0 0;
}
.control-label {
  padding: 0 0 5px 3px;
}
.container-header{
  border-top: solid;
  border-top-width: 3px;
  border-top-color: #109e49;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:40px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ffffff;
  -webkit-box-shadow: 0 0 0 0px white, 0 1px 1px #ddd;
   -moz-box-shadow: 0 0 0 0px white, 0 1px 1px #ddd;
   box-shadow: 0 0 0 0px white, 0 1px 1px #ddd;
   padding: 3px 15px 5px 15px;
}
.container-header .btn-group{
  position: absolute;
  top:0px;
  right:0px;
  padding-right: 15px;
  padding-top: 2px;
}
.container-subheader{

  border-top: solid;
  border-top-width: 1px;
  border-top-color: #109e49;
  width:100%;
  height:20px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #109e49;
  -webkit-box-shadow: 0 0 0 0px white, 0 2px 2px #ddd;
   -moz-box-shadow: 0 0 0 0px white, 0 2px 2px #ddd;
   box-shadow: 0 0 0 0px white, 0 2px 2px #ddd;
   padding: 0px 15px 0px 15px;
   margin-bottom: 20px;
   height:30px;
}
.container-header-filler{
  height:40px;
  width:100%;
}
.container-subheader h2 {
  font-size: 18px;
  line-height: 30px;
  vertical-align: middle;
}
.relative{position:relative;}



.org-acronym{
  position:relative;
  font-size: 10px;
  font-weight: bold;
  width:100%;
  bottom:-8px;

}

.scbd-list-container {
  border-radius: 4px;
  margin: 0 20px 15px 20px;
  padding: 15px 15px 15px 15px;
  -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  z-index:0;
height: 350px;

}
.scbd-scroll-box {
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
width: 100%;
height: 290px;

}
@media (max-width: 960px) {
  .scbd-list-container {
    border-radius: 4px;
    margin: 0 0px 15px 0px;
    padding: 15px 0px 15px 0px;
    -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
    transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
    position: relative;
    z-index:0;

  }
}
