<div class="row">
  <div class="col-xs-12" ng-show="!showOrgForm">
    <label>Select/Search for the host organization(s) and/or create a new one:</label>
  </div>

  <div class="col-xs-10  col-md-6" ng-show="!showOrgForm">
    <div class="form-group">
      <div class="input-group input-group-sm" style="margin-bottom:2px; padding-left: 0px;">
        <input id="editForm.hostOrgs" type="test" class="form-control " ng-model="search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="search='';"><i class="fa fa-search" ng-if="!search"></i><i class="fa fa-times" ng-if="search"></i></button>
        </span>
      </div>
    </div>
  </div>

  <div class="col-xs-6  col-md-6" ng-show="!showOrgForm">
    <button type="button" class="btn btn-default btn-sm" ng-click="showOrgForm=!showOrgForm;" style="outline:none;display:inline-block;margin-bottom:3px;"><i class="fa fa-plus"></i> Create Organization</button>
  </div>
</div>
<div>
  <div ng-show="!showOrgForm">
    <div class="chip" ng-repeat="doc in docs | filter:{selected:true}" ng-show="doc.selected" style="margin-left:20px;margin-bottom:10px;">
      <img src="{{doc.logo}}" ng-if="doc.logo.length>0" />
      <span ng-if="doc.acronym">{{doc.acronym}}</span>
      <i class="fa fa-times" ng-click="select(doc,true)"></i>
    </div>
  </div>
  <div style="margin-left:20px;padding-bottom :3px;" ng-show="!showOrgForm">Showing:
    <span class="label label-pill label-primary">{{filtered.length}}</span>
    <span ng-show="search">for '{{search}}'</span>
  </div>

  <section class="col-lg-12" style="max-height:150px;overflow:auto;" ng-show="!showOrgForm">
    <div class="col s12 " ng-repeat="docObj in filtered =( docs |orderBy:'document.title.en':sortReverse | filter:search)" style="margin-bottom:8px;">
      <scbd-flat-button style="position:relative;width:100%;text-align:left;height:25px;background-color:#fff;" ng-click="select(docObj);" waves>
        <div class="panel panel-default" style="height:25px; width:100%;line-height:25px;vertical-align:bottom;">
          <scbd-icon-button type="fa" style="color:#009b48;font-size:16px;margin-right:20px;" icon-name="fa-square-o" to-icon-name="fa-check-square-o" ani="tada" active="docObj.selected"></scbd-icon-button>
          <img src="{{docObj.logo}}" style="clear:both;height:20px;margin-bottom:4px;"></img>
          <span style="font-weight:bold;">{{docObj.acronym }} </span>
          <span class="hidden-md hidden-sm hidden-xs">{{docObj.title }}</span>
          <span class="hidden-lg hidden-xl">{{docObj.title | characters:26}}</span>
        </div>
      </scbd-flat-button>
    </div>
  </section>
</div>

<div class="col-md-10 col-md-offset-1 col-xs-14" ng-show="showOrgForm">
  <div style="padding-bottom:8px;border-width:1px;border-color:#109e49;">
    <edit-organization short locales="doc.meta.locales" hide="showOrgForm" selected-orgs="binding"></edit-organization>
  </div>
</div>