<style>
.scbd-list-container{
  border-width: 0.5px;
  border-style: solid;
  border-color: #009b48;
position:relative;
}
</style>
<div class=" scbd-list-container">

  <div class="container-header" >
    <div class="pull-xs-left ">


    </div>

    <div class="pull-xs-left ">

      <button style="margin-left:45px;" data-toggle="tooltip" title="Search" class="btn btn-default search-btn btn-sm" ng-click="searchToggle()"><i class="fa fa-search" ng-if="!sOpen"></i><i class="fa fa-times" ng-if="sOpen"></i></button>
      <input  type="text" ng-model="search" placeholder="search..." class="search"> </input>
    </div>
    <div class=" pull-xs-right" >


    </div>
    <div class="clearfix"></div>
  </div>


<div class="row" style="margin-left:20px;padding-top:7px;">

  <div class="chip" ng-repeat="doc in docs | filter:{selected:true}" ng-show="(!atCapacity) || (atCapacity && doc.selected)">
    <img src="{{doc.document.logo}}" ng-if="doc.document.logo.length>0" />



    <span ng-if="doc.document.acronym">{{doc.document.acronym | lstring}}</span>
    <i class="material-icons" ng-click="select(doc)">&#xE5CD;</i>
  </div>
</div>
<div style="margin-left:25px;padding-bottom :3px;">Showing:  <span class="badge">{{filtered.length}}</span></div>
<div class="list-container" >


  <section class="row" style="overflow:auto;height:400px;position:relative;">

    <div class="col s12 collection" ng-repeat="docObj in filtered =( docs |orderBy:'document.title.en':sortReverse | filter:search)" style="margin-bottom:8px;">

      <scbd-flat-button style="width:105%;left:-17px;text-align:left;height:50px;" ng-click="select(docObj);" waves>
          <div class="collection-item " style="height:50px;">
            <!-- <div class="card-image" ng-if="org.document.logo"> -->
            <div style="width:70px;height:50px; position:absolute;top:0px;left:8px;">
              <div style="width:70px;height:50px; position:ralative;text-align:center;vertical-align:middle;">

                <img src="{{docObj.document.logo}}" style="clear:both;max-width:100%;height:50px;" ></img>
                <i ng-if="(!docObj.document.logo.length  && schema=='inde-orgs')" class="material-icons" style="position:absolute;top:13px;left:10px;color:#aaaaaa;font-size:55px;">&#xE0AF;</i>

              </div>
            </div>

            <div style="position:absolute; top:0px;left:80px;width:100%;height:50px;">
              <div ng-if="schema=='inde-orgs'">
                <div style="font-weight:bold;">{{docObj.document.acronym | lstring}} </div>
                <span class="hidden-lg-down">{{docObj.document.title | lstring}}</span>
                <span class="hidden-lg-up">{{docObj.document.title | lstring | characters:26}}</span>
              </div>
            </div>

            <div class="collection-action" >
              <span class="collection-action-grp " ng-show="(!atCapacity) || (atCapacity && docObj.selected)">
                <scbd-icon-button class="right" style="z-index:100;position:absolute;right:55px;top:5px;" type="fa" icon-name="fa-square-o"  to-icon-name="fa-check-square-o" ani="tada" active="docObj.selected" ></scbd-icon-button>
              </span>
            </div>
          </div>
      </scbd-flat-button>
    </div>
  </section>
    </div>
</div>


