<div ng-controller="home">

  <!-- <div scroll-to="top" class="hidden-md hidden-sm hidden-xs">
    <div ani-scroll="550" class="float-button" style="padding-top:5px;">
      <i class="fa fa-arrow-circle-up" style="font-size:40px;color:white;"></i>
    </div>
  </div>

  <div scroll-to="top" class="hidden-lg hidden-xl">
    <div ani-scroll="550" class="float-button">
      <i class="fa fa-arrow-circle-up" style="font-size:25px;color:white;position:absolute;top:3px;left:4px;"></i>
    </div>
  </div> -->

  <div class="row">
    <div class="container-header" style="height:40px;margin-bottom:10px;">
      <span class="container-header-name hidden-xs">
        <h1 style="display:inline;">Side Events</h1>
      </span>
      <span class="container-header-name visible-xs">
        <h2 style="display:inline;background-color:#fff;">Side Events</h2>
      </span>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="alert alert-danger" ng-show="hasError()">
    <strong>Error as occured...</strong>
    <div>{{error}}</div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3  col-sm-6 col-xs-12" ng-repeat="con in filCon = (conferences )">

      <div class="panel" ng-class="{ 'panel-primary' : m.primary, 'panel-info' : !m.primary }">
        <div class="panel-heading  text-center text-nowrap">
          <h2 style="color:inherit;">{{con.Title.en}}</h2>
        </div>
        <div class="panel-body text-center" style="min-height:110px">
          <div class="btn-group-vertical">
            <button class="btn btn-sm btn-default" scroll-to="schedule{{$index}}" duration="1000"> Schedule</button>
            <!-- <button class="btn btn-sm btn-info disabled">Register a Side Event (now closed)</button> -->
            <button class="btn btn-sm btn-info" ng-click="registerNew(con._id);">Register a Side Event</button>
            <!-- ng-click="goTo(con._id);" -->
          </div>
        </div>
        <div class="panel-footer text-right">
          <div class="text-center">{{con.StartDate | date:'yyyy-MM-dd': 'UTC' }}
            <span style=""> to </span> {{con.EndDate | date:'yyyy-MM-dd' }}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- venue-->

  <section ng-repeat="con in conferences ">
    <div class="row">
      <!-- side event schedule -->
      <div id="schedule{{$index}}" class="ind-container-header relative" style="height:60px;">
        <div class="pull-left ">
        </div>
        <span class="container-header-name hidden-md hidden-sm hidden-xs">
          <h1 style="display:inline;">Side Event Schedule</h1>
          <h6> ({{con.Title.en}})</h6>
        </span>
        <span class="ind-container-header-name hidden-lg hidden-lx"> Side Event Schedule </span>
        <div class="hidden-lg hidden-lx">({{con.Title.en}})</div>
        <div class="clearfix"></div>
      </div>
      <div>
      </div>
      <style>
        @-moz-document url-prefix() {
          fieldset {
            display: table-cell;
          }
        }
      </style>
      <div>&nbsp;</div>
      <div class="col-xs-8 col-xs-offset-2">
        <div class="bs-callout bs-callout-info">
          The side event schedule will be posted in September for COP 13 / MOP 8 / NP-MOP 2
        </div>
      </div>
      <div class="row" ng-if="false">
        <div style="padding: 10px 20px 0px 20px;">
          <div class="col-lg-3">
            <div>
              <select id="editForm.meeting" class="form-control" ng-model="con.day">
                <option value="" selected>Day</option>
                <option ng-repeat="docObj in con.days | orderBy:'value'" value="{{docObj.value}}">{{docObj.title}} </option>
              </select>
            </div>
          </div>
          <div class="col-lg-3">
            <div>
              <select id="editForm.meeting" class="form-control" ng-model="con.time">
                <option value="" selected> Time</option>
                <option ng-repeat="docObj in con.times | orderBy:'seconds'" value="{{docObj.value}}">{{docObj.title}} </option>
              </select>
            </div>
          </div>
          <div class="col-lg-3">
            <div>

            </div>
          </div>
          <div class="col-lg-3">
            <div class="input-group input-group-sm search-bs" style="width:100%">
              <input type="test" class="form-control " ng-model="$parent.search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="$parent.search='';"><i class="fa fa-search" ng-if="!search"></i><i class="fa fa-times" ng-if="search"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:6px;" ng-if="false">
        <div class="col-lg-6">
          <span style="padding-left:17px;">Showing
            <span class="badge">{{filtered.length}}</span> Side Events</span>
        </div>
        <div class="col-lg-6 text-right" style="padding-right:17px;">
          <span class="text-right" style="padding-right:17px;">
            <span class="badge">{{con.reservations.length}}</span> Side Events in Total</span>
        </div>
      </div>
      <table class="table table-hover table-striped" style="margin-top:10px;" ng-if="false">
        <thead>
          <tr class="info">
            <th>ID</th>
            <th>Date</th>
            <th>Location</th>
            <th>Title / Host Organizations</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="doc in filtered = (con.reservations | filter:dayFilter |filter:timeFilter |filter:customSearch |orderBy:'startSeconds')" >
            <td style="cursor:pointer;" nowrap>#{{doc.sideEvent.id}}

            </td>
            <td style="cursor:pointer;" nowrap>{{doc.dayOfWeek}}
              <br>{{doc.tier.title}}
              <br>
              <hr style="margin: 5px 0 5px 0;">{{doc.day}}
              <br>{{doc.time}}</td>
            <td style="cursor:pointer;" nowrap>
              <strong>{{doc.room.title}}</strong>
              <br>{{doc.room.location}}</td>
            <td>
              <span  ng-show="doc.sideEvent.meta.status==='published'" style="cursor:pointer;"><a href="{{doc.sideEvent._id}}">{{doc.sideEvent.title}}</a></span>
              <span  ng-show="doc.type==='572bcfa4240149400a234903'" style="cursor:pointer;">{{doc.title}}</span>
              <br>
              <hr>
              <div class="relative" ng-show="doc.sideEvent.meta.status==='published'">
                <span class="hidden-md hidden-sm hidden-xs relative" ng-repeat="org in doc.sideEvent.orgs" style="margin:0 2px 0 0;">
                  <span class="cir" style="position:relative;">
                    <!-- <img src="{{org.logo}}" style="vertical-align:middle;" ng-if="org.logo.length>0" />
                    <scbd-icon-button type="md" icon-name="&#xE872;" ng-if="!org.logo"></scbd-icon-button> -->
                  </span>
                  <span style="padding:0px 10px px 0px 1px; vertical-align:middle;"> {{org.acronym }} <span ng-hide="$last">|</span></span>
                </span>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </section>
</div>