<div ng-controller="home">


  <div scroll-to="top" class="hidden-md hidden-sm hidden-xs">
    <div ani-scroll="550" class="float-button" style="padding-top:5px;">
      <i class="fa fa-arrow-circle-up" style="font-size:40px;color:white;"></i>
    </div>
  </div>

  <div scroll-to="top" class="hidden-lg hidden-xl">
    <div ani-scroll="550" class="float-button">
      <i class="fa fa-arrow-circle-up" style="font-size:25px;color:white;position:absolute;top:3px;left:4px;"></i>
    </div>
  </div>

  <div class="row">
    <div class="container-header" style="height:40px;margin-bottom:10px;">
      <span class="container-header-name hidden-xs ">
        <h1 style="display:inline;">Side Events</h1>
      </span>
      <span class="container-header-name visible-xs ">
        <h2 style="display:inline;background-color:#fff;">Side Events</h2>
      </span>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="alert alert-danger" ng-show="hasError()">
    <strong>Error as occured...</strong>
    <div>{{error}}</div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12" ng-class="{ 'col-lg-12': (conferences.length===1),'col-lg-4': (conferences.length===2), 'col-lg-4': (conferences.length===3),'col-lg-3': (conferences.length>=4) }" ng-repeat="con in filCon = (conferences | filter:newMeetingFilter)">
      <div class="panel" ng-class="{ 'panel-primary' : m.primary, 'panel-info' : !m.primary }">
        <div class="panel-heading  text-center">
          <h2 style="color:inherit">{{con.acronym }}</h2>
        </div>
        <div class="panel-body text-center" style="min-height:110px">
          <div class="btn-group-vertical">
            <button class="btn btn-sm btn-default" scroll-to="schedule{{$index}}" duration="1000"> Schedule</button>
            <button class="btn btn-sm btn-info disabled">Register a Side Event (now closed)</button>
            <!-- ng-click="goTo(con._id);" -->
          </div>
        </div>
        <div class="panel-footer text-right">
          <div class="text-center">{{con.start * 1000 | date:'yyyy-MM-dd': 'UTC' }}
            <span style=""> to </span> {{con.end * 1000 | date:'yyyy-MM-dd' }}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- venue-->
  <section ng-repeat="con in conferences | filter:newMeetingFilter ">
    <div class="row">
      <!-- side event schedule -->
      <div id="schedule{{$index}}" class="ind-container-header relative" style="height:60px;">
        <div class="pull-left ">
        </div>
        <span class="container-header-name hidden-md hiddensm hidden-xs">
          <h1 style="display:inline;">Side Event Schedule</h1>
          <h6> ({{con.acronym }})</h6>
        </span>
        <span class="ind-container-header-name hidden-lg hidden-lx"> Side Event Schedule </span>
        <div class="hidden-lg hidden-lx">({{con.acronym }})</div>
        <div class="clearfix"></div>
      </div>
      <div>
      </div>
      <style>
        @-moz-document url-prefix() {
          fieldset {
            display: table-cell;
          }
        }
      </style>
      <div class="row">
        <div style="padding: 10px 20px 0px 20px;">
          <div class="col-lg-3">
            <div>
              <select id="editForm.meeting" class="form-control" ng-model="con.day">
                <option value="" selected>Day</option>
                <option ng-repeat="docObj in con.days | orderBy:'value'" value="{{docObj.value}}">{{docObj.title}} </option>
              </select>
            </div>
          </div>
          <div class="col-lg-3">
            <div>
              <select id="editForm.meeting" class="form-control" ng-model="con.time">
                <option value="" selected> Time</option>
                <option ng-repeat="docObj in con.times | orderBy:'value'" value="{{docObj.value}}">{{docObj.title}} </option>
              </select>
            </div>
          </div>
          <div class="col-lg-3">
            <div>

              <button class="btn btn-sm btn-default " ng-click="showDescriptions=!showDescriptions;">
                <span ng-show="showDescriptions">Hide Descriptions</span>
                <span ng-show="!showDescriptions">Show Descriptions</span>
              </button>

            </div>
          </div>
        </div>
      </div>

      <table class="table table-hover table-striped" style="margin-top:10px;">
        <thead>
          <tr class="info">
            <th>ID</th>
            <th>Date</th>
            <th>Location</th>
            <th>Title / Host Organizations</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="doc in filtered = (con.reservations |filter:dayFilter |filter:timeFilter |orderBy:'startSeconds')" ng-click=" doc.showDes=!doc.showDes;" style="cursor:pointer;">
            <td>{{doc.title}}</td>
            <td>{{doc.dayOfWeek}}
              <br>{{doc.tier.title}}
              <br>
              <hr style="margin: 5px 0 5px 0;">{{doc.day}}
              <br>{{doc.time}}</td>
            <td>
              <strong>{{doc.room.title}}</strong>
              <br>{{doc.room.location}}</td>
            <td>
              <span ng-show="doc.sideEvent.meta.status==='published'">{{doc.sideEvent.title}}</span>
              <br>
              <!-- <div class="bs-callout bs-callout-danger" ng-show="doc.sideEvent.meta.status!=='published'">
                <h4>Under Editing Review:</h4>
                Please note the owner of this side event has requested changes to the published information. Once approved the published information will be restored.
              </div> -->
              <hr>
              <div class="relative" ng-show="doc.sideEvent.meta.status==='published'">
                <span class="hidden-md hidden-sm hidden-xs relative" ng-repeat="org in doc.sideEvent.orgs" style="margin:0 2px 0 0;">
                  <span class="cir" style="position:relative;">
                    <img src="{{org.logo}}" style="vertical-align:middle;" ng-if="org.logo.length>0" />
                    <scbd-icon-button type="md" icon-name="&#xE872;" ng-if="!org.logo"></scbd-icon-button>
                  </span>
                  <span style="padding:0px 10px px 0px 1px; vertical-align:middle;"> {{org.acronym }} |</span>
                </span>
              </div>
            </td>
          </tr>
          <tr></tr>
          <tr ng-show="showDescriptions && (doc.sideEvent.meta.status==='published')" ng-repeat-end>

            <td colspan="4">
              <strong>Description:</strong>
              <br>{{doc.sideEvent.description}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </section>
</div>