<div class="alert alert-danger" ng-show="sideEventCtrl.hasError()">
  <strong>Error as occured...</strong>
  <div>{{error}}</div>
</div>
<style>
.red-status{
  color:#a94442 !important;
}
  </style>
<div class="row">
  <div class="container-header col-xs-12" mobi-menu>
    <span class="pull-left" style="white-space: normal;">
      <h4>Side Event #{{sideEventCtrl.doc.id}}</h4>
    </span>
    <span style="white-space: normal;">
      <span class="pull-right text-nowrap"><h4>Status:</hr> <span ng-class="{'red-status':(sideEventCtrl.doc.meta.status!=='request' && sideEventCtrl.doc.meta.status!=='published')}"><span ng-if="sideEventCtrl.doc.meta.status!=='request'">{{sideEventCtrl.doc.meta.status.toUpperCase()}}</span> <span ng-if="sideEventCtrl.doc.meta.status==='request'" style="color:black;">Request Submitted</span> <span ng-if="!sideEventCtrl.doc.meta.status">NOT SAVED</span></span></span>
    </span>
    <div class="clearfix"></div>
  </div>
</div>

<div class="col-xs-12">
  <span ng-if="sideEventCtrl.isEditable()" ng-click="sideEventCtrl.goTo('/manage/events/',sideEventCtrl.doc._id)" class="pull-right pointer" ><a src="#"><i class="fa fa-edit"></i> Edit Side Event</a></span>

  <table class="table table-striped">
    <tbody>
      <tr class="hidden-xs" >
        <th scope="row">ID</th>
        <td>{{sideEventCtrl.doc.id}}</td>
        <td width="50%" rowspan="4" align="center"><div style="height:100%;">
          <img  src="{{sideEventCtrl.doc.logo}}" style="max-height:300px;" class="img-responsive" alt="Responsive image"></div>
        </td>
      </tr>
      <tr class="hidden-sm hidden-md hidden-lg hidden-xl" align="center">
        <td colspan="2"><div style="height:100%;"><img  src="{{sideEventCtrl.doc.logo}}" style="max-height:100px;" class="img-responsive" alt="Responsive image"><div></td>

      </tr>
      <tr class="hidden-sm hidden-md hidden-lg hidden-xl">
        <th scope="row">ID</th>
        <td>{{sideEventCtrl.doc.id}}</td>
      </tr>
      <tr>
        <th scope="row">Conference</th>
        <td><strong>{{sideEventCtrl.doc.conferenceObj.Title.en}}</strong> <br><span class="small">{{sideEventCtrl.doc.conferenceObj.title}}</span></td>
      </tr>
      <!--  -->
      <tr ng-if="sideEventCtrl.doc.meetings.length">
        <th scope="row">Meetings(s)</th>
        <td><div ng-repeat="meeting in sideEventCtrl.doc.conferenceObj.meetings" ng-if="(sideEventCtrl.doc.meetings.indexOf(meeting._id)>=0)"><strong>{{meeting.EVT_CD}}</strong><br><span <span class="small">{{meeting.EVT_TIT_EN}}</span></div> </td>
      </tr>
      <tr>
        <th scope="row">Title</th>
        <td>{{sideEventCtrl.doc.title}}</td>
      </tr>
      <tr ng-show="sideEventCtrl.doc.hostOrgs.length">
        <th scope="row">Hosts</th>
        <td>
          <div class="relative">
            <span class="relative" ng-repeat="org in sideEventCtrl.doc.orgs track by $index" style="margin:0 2px 0 0;" >
              <span class="cir" style="position:relative;">
                <!-- <img src="{{org.logo}}" style="vertical-align:middle;" ng-if="org.logo.length>0" /> -->

              </span>
              <span ng-if="org.acronym" style="padding:0px 10px px 0px 1px; vertical-align:middle;"> {{org.acronym}} <span ng-hide="$last">|</span></span>
            </span>
          </div>
        </td>
      </tr>
      <tr ng-if="sideEventCtrl.doc.subjectObjs">
        <th scope="row">Topics</th>
        <td>
          <div ng-repeat="subj in sideEventCtrl.doc.subjectObjs">{{subj.name}}</div>
        </td>
      </tr>
      <tr ng-if="sideEventCtrl.doc.description">
        <th scope="row">Description</th>
        <td colspan="2" ng-bind-html="sideEventCtrl.doc.description | rawHtml"></td>
      </tr>
      <tr ng-show="sideEventCtrl.doc.documents.length">
        <th scope="row">Documents</th>
        <td colspan="2">
          <table class="table table-striped">
            <tbody>
              <tr ng-repeat="item in sideEventCtrl.doc.documents track by $index">
                <th scope="row" width="5%"><i class="fa fa-file-o" aria-hidden="true"></i></th>
                <td> <a href="{{sideEventCtrl.trustSrc(item.src)}}">{{item.name}}</a>&nbsp;&nbsp;&nbsp;
                  <strong>{{item.size |fileSize}}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>